<footer id="footer">
	<ul class="list-inline text-center">
	  <li>&copy; Rodrigo Quaresma 2015</li>
		<li>·</li>
		<li><a target="_blank" title="GitHub Rodrigo Quaresma" href="//github.com/rodrigoquaresma" rel="publisher">GitHub</a></li>
		<li>·</li>
		<li><a target="_blank" title="Facebook Rodrigo Quaresma" href="//www.facebook.com/rodrigoquaresma" rel="publisher">Facebook</a></li>
		<li>·</li>
		<li><a target="_blank" title="Twitter Rodrigo Quaresma" href="//twitter.com/rquaresma" rel="publisher">Twitter @rquaresma</a></li>
		<li>·</li>
		<li><a target="_blank" title="Google Plus Rodrigo Quaresma" href="//plus.google.com/+RodrigoQuaresma" rel="publisher">Google+</a></li>
		<li>·</li>
		<li><a target="_blank" title="Linkedin Rodrigo Quaresma" href="//linkedin.com/in/rquaresma" rel="publisher">Linkedin</a></li>
	</ul>
</footer>
