<div class="main-results-filter">
  <div class="container">
    <div class="filters">
      <span class="help-inline">Filter:</span>
      <a href="javascript:void(0);" class="btn btn-primary">All</a>
      <a href="javascript:void(0);" class="btn btn-default disabled" disabled>Web</a>
      <a href="javascript:void(0);" class="btn btn-default disabled" disabled>TV</a>
      <a href="javascript:void(0);" class="btn btn-default disabled" disabled>Graphic</a>
    </div>
  </div>
</div>

<div class="main-results-list">
  <div class="container">
    <div class="dsf_fb_title">
      <div class="b_title">
        <p>My top works – based on coverage</p>
      </div>
      <div class="dsf_fb_title_arrow"></div>
    </div>
    <!-- list -->
    <%= render :partial => 'work_list' %>
  </div>
</div>
