<div class="masthead-searchbox-container">
  <div id="searchboxInc" class="r">
    <form id="frm" name="frm" method="get" action="" class="">
      <h3 class=""><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;<span class="">Find my Best Works</span></h3>
      <div class="help-block text-muted">200+ interfaces for web, mobile, tv and more…</div>
      <div class="form-group"></div>
      <fieldset>
        <p class="error hide">Oops! We need at least part of the name to start searching.</p>
        <div class="form-group">
          <h4><label for="destination">Designer Name:</label></h4>
          <span class="help-block text-muted">E.g. Rodrigo Quaresma</span>
          <input class="form-control" type="text" results="0" autosave="booking.com" style="margin-bottom:0px; " autocomplete="off" placeholder="" id="destination" name="ss" title="" role="textbox" aria-autocomplete="list" aria-haspopup="true" />
        </div>

        <!-- <strong class="">Traveling for:&nbsp;&nbsp;</strong>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="business"> Business
        </label>
        <label class="radio-inline">
          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="leisure"> Leisure
        </label> -->

        <div class="row">
          <div class="col-xs-7">
            <hr />
          </div>
          <div class="col-xs-5">
            <button type="button" class="btn btn-secundary btn-lg btn-block"><strong>Let's go!</strong></button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
