<p class="text-muted">check my web presence</p>
<dl class="list-group-contact">
  <dt>linkedin</dt>
  <dd><a title="linkedin de rodrigo quaresma" href="http://br.linkedin.com/in/rquaresma">br.linkedin.com/in/rquaresma</a></dd>
  <dt>github</dt>
  <dd><a title="rodrigo quaresma github profile" href="http://github.com/rodrigoquaresma">github.com/rodrigoquaresma</a></dd>
  <dt>slideshare</dt>
  <dd><a title="slideshare de rodrigo quaresma" href="http://www.slideshare.net/rquaresma">slideshare.net/rquaresma</a></dd>
  <dt>twitter</dt>
  <dd><a title="twitter de rodrigo quaresma" href="//twitter.com/rquaresma">twitter.com/rquaresma</a></dd>
  <dt>oxys consultancy</dt>
  <dd><a title="oxys interaction design consultancy" href="http://oxys.co">oxys.co</a></dd>
  <dt>blog</dt>
  <dd><a title="blog a procura do design by rodrigo quaresma" href="http://www.aprocuradodesign.com.br">aprocuradodesign.com.br</a></dd>
  <dt>facebook</dt>
  <dd><a title="rodrigo quaresma facebook" href="//www.facebook.com/rodrigoquaresma">facebook.com/rodrigoquaresma</a></dd>
  <dt>google+</dt>
  <dd><a title="Google Plus Rodrigo Quaresma" href="//plus.google.com/+RodrigoQuaresma">plus.google.com/+RodrigoQuaresma</a></dd>
  <dt>flickr</dt>
  <dd><a title="flickr de rodrigo quaresma" href="http://www.flickr.com/photos/rodrigoquaresma/">flickr.com/photos/rodrigoquaresma/</a></dd>

  <dt>e-mail</dt>
  <dd>rodrigoquaresma@gmail.com</dd>
  <dt>local</dt>
  <dd>florianópolis / brasil</dd>
</dl>
