<div class="col-xs-12 col-sm-6 col-md-4 work-list-item">
  <%= link_to vangogh_show_path(work[0]), class: "work-call" do %>
    <span class="work-list-title"><%= work[1] %></span>
    <span class="work-list-image"><%= image_tag work[4][0], alt: work[1] %></span>
  <% end %>
</div>
