<ul class="list-unstyled works-list">
  <li class="works-list-item">
    <div class="row">
      <div class="col-sm-6">
        <div class="list-image"><%= image_tag "now01b.jpg", alt: "interface now - video on demand" %></div>
      </div>
      <div class="col-sm-6">
        <h3><%= link_to 'NOW - video on demand', vangogh_show_path %></h3>
        <span class="text-muted">for TV</span>
        <p>
          The people in Taiwan is so freaking nice and friendly compared to my country, Singapore. When you go to the convenience store, they will greet you and when i order a hot chocolate milk, they told me to be careful as it's hot what a heart warming reminder from the staff. When you lost your way to ce
        </p>
        <p><a href="#" class="btn btn-default-b">More...</a></p>
      </div>
    </div>
  </li>
  <li class="works-list-item">
    <div class="row">
      <div class="col-sm-6">
        <div class="list-image"><%= image_tag "now01b.jpg", alt: "interface now - video on demand" %></div>
      </div>
      <div class="col-sm-6">
        <h3><%= link_to 'NOW - video on demand', vangogh_show_path %></h3>
        <span class="text-muted">for TV</span>
        <p>
          The people in Taiwan is so freaking nice and friendly compared to my country, Singapore. When you go to the convenience store, they will greet you and when i order a hot chocolate milk, they told me to be careful as it's hot what a heart warming reminder from the staff. When you lost your way to ce
        </p>
        <p><a href="#" class="btn btn-default-b">More...</a></p>
      </div>
    </div>
  </li>
</ul>
