<%= render partial: "work_highlight" %>
<h2 class="work-list-caption">and more...</h2>
<div class="row row-gutter-sm work-list">
  <% works.each do |work| %>
    <%= render partial: "work_for_list", locals: { work: work } %>
  <% end %>
</div>
