<% content_for :head do %>
<% end %>

<%= render :partial => 'navbar' %>
<div class="container">
  <div class="col-sm-4 col-md-3">
    <h2>Contact</h2>
  </div>
  <div class="col-sm-8 col-md-9">
    <hr />
    <div class="toggle-show">
      <form id="conversion-form" action="https://www.rdstation.com.br/api/1.2/conversions" method="POST">
        <input type="hidden" name="token_rdstation" value="f673c9314b3540bc10a4f6d4ee17d160" />
        <input type="hidden" name="identificador" value="vangogh-contact" />
        <div class="form-group field">
          <label>Email:*</label>
          <input type="text" name="email" class="form-control input-lg" />
        </div>
        <div class="form-group field">
          <label>Message:</label>
          <textarea class="form-control input-lg" rows="3" name="message"></textarea>
        </div>
        <div class="form-group actions">
          <input type="submit" value="Enviar" class="btn btn-secundary btn-lg" />
        </div>
      </form>
    </div>
    <div class="toggle-show" style="display:none;">
      <%= image_tag "vangogh/thanks.jpg", alt: "thanks", class: "img-responsive img-rounded" %>
    </div>
  </div>
</div>

<%= render :partial => 'footer' %>

<% content_for :footer do %>
<% end %>
