<% content_for :head do %>
<% end %>

<%= render :partial => 'navbar' %>

<div class="jumbotron profile">
  <div class="mask">
    <div class="container">
      <%= image_tag "vangogh/avatar-big.jpg", alt: "rodrigo quaresma", class: "profile-avatar hide" %>
      <h1 class="text-center">Rodrigo Quaresma</h1>
      <h2>Experience</h2>
    </div>
  </div>
</div>
<div class="container">
  <hr />
  <h3 class="text-center">NET</h3>
  <p class="lead text-center">
    NET Serviços is Latin America’s largest multi-service cable company. Offering pay TV, broadband internet access and voice services through a single cable.
  </p>
</div>

<%= render :partial => 'footer' %>

<% content_for :footer do %>
<% end %>
