<% content_for :head do %>
<% end %>
<%= render :partial => 'navbar' %>
<%= render :partial => 'header_profile' %>
<hr class="spacer-md invisible" />
<div class="container">
  <h3 class="text-center">NET</h3>
  <p class="lead text-center">
    NET Serviços is Latin America’s largest multi-service cable company. Offering pay TV, broadband internet access and voice services through a single cable.
  </p>
</div>
<hr />
<%= render :partial => 'footer' %>
<% content_for :footer do %>
<% end %>
