<%= render :partial => 'header_profile' %>
<hr class="spacer-md invisible" />
<div class="container">
  <h2>About me</h2>
  <div class="row">
    <div class="col-sm-8 col-md-9">

      <p class="lead">
        I am a Brazilian designer who loves simple things. I love to ride my bike, drink coffee, read a book (Asimov is one of my favorites) and, as could not be different, I really love create interactions that people will engage and love.
      </p><p class="lead">
        I am not strict to the Digital Interaction world, I also value personal interactions. For example, I kike to prepare a dinner for my friends, set up a great Christmas experience for my little son and many others.
      </p><p class="lead">
        I am not sure my work experience is what booking.com is looking for. However I would like to take my chances and show my work through this site. Therefore I want be part of the selection process and find out what is needed to work with you.
      </p><p class="lead">
        Thank you for your time. I hope that we can meet soon!
      </p>

    </div>
    <div class="col-sm-4 col-md-3 hidden-xs">
      <%= render :partial => 'web_presence' %>
    </div>
  </div>
</div>
<hr />
