<% content_for :head do %>
<% end %>

<%= render :partial => 'navbar' %>

<div class="jumbotron profile">
  <div class="mask">
    <div class="container">
      <%= image_tag "vangogh/avatar-big.jpg", alt: "rodrigo quaresma", class: "profile-avatar" %>
      <h3>Rodrigo Quaresma</h3>
      <p class="text-center">
        <%= link_to 'Contact', vangogh_contact_path, class: 'btn btn-secundary' %>
      </p>
    </div>
  </div>
</div>
<hr />

<%= render :partial => 'footer' %>

<% content_for :footer do %>
<% end %>
