<% content_for :head do %>
<% end %>

<%= render :partial => 'navbar' %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <%= render :partial => 'masterhead_vcard' %>
    </div>
    <div class="col-sm-12 col-md-8">
      <h3 style="margin-top:34px;">Rodrigo Quaresma: 7 works available</h3>
      <p class="text-muted">3 Reasons to hire me: high creativity, good business vision & reasonable experience</p>
      <hr />
      <%= render :partial => 'work_list' %>
    </div>
  </div>
</div>
<hr />
<%= render :partial => 'footer' %>

<% content_for :footer do %>
<% end %>
