<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>oxys</title>
<%= stylesheet_link_tag    'oxys/oxys', media: 'all' %>

</head>
<body onload="init()">
<div class="raiz main" id="main">
	<header class="mini">
		<h1>GVT</h1>
		<time><span class="dia">Qui, 26/10</span><span class="hor">22:33</span></time>
	</header>
	<ul id="menu" class="menu">
	</ul>
	<!--linhas de capas-->
	<section id="covers" class="fechado">
		<ul class="categorias" id="containerCapas">
		</ul>
	</section>
</div>

<!--simulacao do video-->
<%= image_tag 'oxys/105-mgm-o-poderoso-chefao.jpg' %>

<%= javascript_include_tag 'oxys/oxys' %>

</body>
</html>
