<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>oxys</title>
<%= stylesheet_link_tag    'oxys/oxys', media: 'all' %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-18762296-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body onload="init()">
<div class="raiz main" id="main">
	<header class="mini">
		<h1>OxysTV</h1>
		<time><span class="dia">Qui, 26/10</span><span class="hor">22:33</span></time>
	</header>
	<ul id="menu" class="menu">
	</ul>
	<!--linhas de capas-->
	<section id="covers" class="fechado">
		<ul class="categorias" id="containerCapas">
		</ul>
	</section>
</div>

<!--simulacao do video-->
<%= image_tag 'oxys/105-mgm-o-poderoso-chefao.jpg' %>

<%= javascript_include_tag 'oxys/oxys' %>

</body>
</html>
