<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RD Station</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mídias Socias e Blog, Otimização para Busca (SEO) e Links Patrocinados, Landing Pages e Geração de Leads, Email Marketing e Nutrição de Leads, Gestão de Contatos e CRM, Análise e Otimização">
    <meta name="author" content="Resultados Digitais">

    <link rel="publisher" href="https://plus.google.com/108141685269689088342" />

    <meta property="og:url" content="http://www.rdstation.com.br"/>
    <meta property="og:title" content="Software de Marketing Digital - RD Station" />
    <meta property="og:image" content="https://rdstation-static.s3.amazonaws.com/images/rd/rd-product.png" />

    <!-- Le styles -->
    <link href='//fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
    <link href="/css/rd-jobs.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
    <link href="/assets/site/style-ie7.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		
		

	<script type="text/javascript">
	(function($){
		$(document).ready(function (){
			
			$('#item_consulting').click(function(){ 
				$('[id^="item_"]').removeClass('selected');
				$('[id^="desc_"]').hide();
				$('#item_consulting').addClass('selected');
				$('#conversion-form input[name="identificador"]').attr('value','talent-customer-success');
				$('#conversion-form input[name="github"]').attr('placeholder','blog');
				$('#conversion-form input[name="github"]').attr('name','site');
				$('#desc_consulting').show();
			});
			$('#item_dev').click(function(){ 
				$('[id^="item_"]').removeClass('selected');
				$('[id^="desc_"]').hide();
				$('#item_dev').addClass('selected');
				$('#conversion-form input[name="identificador"]').attr('value','talent-dev');
				$('#conversion-form input[name="site"]').attr('placeholder','github');
				$('#conversion-form input[name="site"]').attr('name','github');
				$('#desc_dev').show();
			});
			$('#item_growth').click(function(){ 
				$('[id^="item_"]').removeClass('selected');
				$('[id^="desc_"]').hide();
				$('#item_growth').addClass('selected');
				$('#conversion-form input[name="identificador"]').attr('value','talent-growth-hacker');
				$('#conversion-form input[name="github"]').attr('placeholder','blog');
				$('#conversion-form input[name="github"]').attr('name','site');
				$('#desc_growth').show();
			});
			$('#item_marketing').click(function(){ 
				$('[id^="item_"]').removeClass('selected');
				$('[id^="desc_"]').hide();
				$('#item_marketing').addClass('selected');
				$('#conversion-form input[name="identificador"]').attr('value','talent-marketing-digital');
				$('#conversion-form input[name="github"]').attr('placeholder','blog');
				$('#conversion-form input[name="github"]').attr('name','site');
				$('#desc_marketing').show();
			});
			$('#item_sales').click(function(){ 
				$('[id^="item_"]').removeClass('selected');
				$('[id^="desc_"]').hide();
				$('#item_sales').addClass('selected');
				$('#conversion-form input[name="identificador"]').attr('value','talent-vendas');
				$('#conversion-form input[name="github"]').attr('placeholder','blog');
				$('#conversion-form input[name="github"]').attr('name','site');
				$('#desc_sales').show();
			});
			
		});
	})(jQuery);
	</script>		
	
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17276574-1']);
      if (document.domain.indexOf("resultadosdigitais.com.br") != -1) { _gaq.push(['_setDomainName', 'resultadosdigitais.com.br']); }
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>	
		
  </head>

  <body>


    
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<div id="jobs">

	<section style="background-color:#2B598D;padding:0;">
		<div class="container16" style="margin-top:0;">
			<div class="row16">
				<div class="span16" style="text-align:center;">
					<img src="http://www.resultadosdigitais.com.br/arte/LogoTopoBlog_Escuro.png">
				</div>
			</div>
		</div>
	</section>
	
	
	<header>
		<div class="container16">
			<div class="row16">
				<div class="span16">
					<h1>Faça parte da construção da maior empresa de Marketing Digital do Brasil</h1>
				</div>
			</div>
		</div>
	</header>

	<section id="reasons">
		<div class="container16">
			
			<div class="row16">
				<div class="span16">
					<h2>Por que trabalhar na Resultados Digitais?</h2>
				</div>
			</div>
			<div class="row16">
				<div class="span6">
					<div class="row">
						<div class="span6"><img alt="Jobs-span6-c-fx" src="/images/rd/jobs-span6-c-fx.jpg" /></div>
					</div>
					<div class="row">
						<div class="span6"><img alt="Jobs-span6-b-fx" src="/images/rd/jobs-span6-b-fx.jpg" /></div>
					</div>
					<div class="row">
						<div class="span6"><img alt="Jobs-span6-a-fx" src="/images/rd/jobs-span6-a-fx.jpg" /></div>
					</div>
					<div class="row">
						<div class="span6"><img alt="Jobs-span6-e-fx" src="/images/rd/jobs-span6-e-fx.jpg" /></div>
					</div>
					<div class="row">
						<div class="span6"><img alt="Jobs-span6-d-fx" src="/images/rd/jobs-span6-d-fx.jpg" /></div>
					</div>
				</div>
				<div class="span9 offset1">
					<h3>Sonhamos alto</h3>
					<p class="lead">E já caminhamos a passos largos</p>
					
					<div class="row">
						<div class="span4">
							<!-- <h4>stats</h4> -->
							<ul class="stats">
								<li><span>+200</span> clientes</li>
								<li><span>+7.000</span> leads por mês</li>
								<li><span>+85.000</span> fãs no facebook</li>
							</ul>
						</div>
						<div class="span4 offset1">
							<p>Nascemos com o objetivo de nos tornar a maior empresa de Marketing Digital do Brasil e estamos indo rápido nessa direção.</p>
						</div>
					</div>

					<h3>Time de primeira</h3>
					<p class="lead">Pessoas competentes fazem a diferença</p>
					<div class="row">
						<div class="span4">
							<p>Escolhemos e mantemos apenas pessoas de alto nível, pois é motivador olhar para os lados e ver pessoas que você admira e confia.</p>
							<p>E é com essas pessoas que acabamos sempre de olho no que surge de melhor.</p>
						</div>
						<div class="span4 offset1">
							<p>Gostamos de acompanhar novas ideias, livros, estratégias e tecnologias.</p>
							<p>Se para você também é importante estar cercado por excelentes colegas, podemos garantir que vai gostar do time.</p>
						</div>
					</div>

					<h3>Flexibilidade e ambiente descontraído</h3>
					<p class="lead">Foco no resultado, não no processo</p>
					<div class="row">
						<div class="span4">
							<p>Precisa levar o carro no mecânico; esperar o técnico da TV por assinatura em casa; assinar aquele documento no cartório, ou, pior ainda, perder tempo no trânsito que é mais lento justo no seu horário de trabalho...</p>
							<p>Podemos ajudá-lo oferecendo flexibilização no seu horário.</p>
						</div>
						<div class="span4 offset1">
							<p>Nossa preocupação é com o resultado que você é capaz de gerar e não com o tempo que você fica sentado na sua cadeira</p>
							<p>E ahh, ainda temos o happy hour na empresa toda quarta-feira! Cerveja, churrasco, jogos e violão (o <a href="http://en.wikipedia.org/wiki/Caj%C3%B3n" target="_blank">cajón</a> já está a caminho) estão sempre presentes.</p>
						</div>
					</div>

					<h3>Você é importante para nós</h3>
					<p class="lead">Queremos crescer e precisamos de você</p>
					<div class="row">
						<div class="span4">
							<p>Somos uma empresa plana com poucos níveis hierárquicos</p>
							<p>Este é um ambiente que privilegia para que todos tenham voz e participem das decisões da empresa como um todo.</p>
						</div>
						<div class="span4 offset1">
							<p>Queremos escutar suas opiniões e, sempre que possível, colocá-las em prática.</p>
							<p>Transparência e participação na tomada de decisões da empresa fazem parte do nosso dia a dia.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<hr>

	<section id="proof">
		<div class="container14">
			<div class="row14">
				<div class="span14">
					<h2>O que o nosso pessoal fala da RD</h2>
				</div>
			</div>
			<div class="row14">
				<div class="span3">
					<img alt="Avatar-michelle-fx" src="/images/rd/avatar-michelle-fx.jpg" />
				</div>
				<div class="span3">
					<p>"O espírito de equipe, a troca de aprendizado constante e o clima leve e descontraído. É muito bom fazer parte deste time!"</p>
					<h4>Michelle Araujo</h4>
					<p class="lead">Assessora de Imprensa e conteúdo</p>
				</div>
				<div class="span3 offset2">
					<img alt="Avatar-gabriel-fx" src="/images/rd/avatar-gabriel-fx.jpg" />
				</div>
				<div class="span3">
					<p>"É muito bom trabalhar com pessoas confiáveis e competentes. Feedback aberto  direto, com aprendizado rápido."</p>
					<h4>Gabriel Lopes</h4>
					<p class="lead">Vendas</p>
				</div>
			</div>
			<div class="row14">
				<div class="span3">
					<img alt="Avatar-ricardo-fx" src="/images/rd/avatar-ricardo-fx.jpg" />
				</div>
				<div class="span3">
					<p>"Ambiente descontraído e em constante mudança. Novos desafios todos os dias, tanto no modo de trabalhar quanto no mercado em que atuamos."</p>
					<h4>Ricardo Palma</h4>
					<p class="lead">Customer Success</p>
				</div>
				<div class="span3 offset2">
					<img alt="Avatar-evandro-fx" src="/images/rd/avatar-evandro-fx.jpg" />
				</div>
				<div class="span3">
					<p>"Com um time focado e decidido no sucesso da empresa, não há como não se sentir motivado em trabalhar na RD."</p>
					<h4>Evandro Jacobus</h4>
					<p class="lead">Finanças</p>
				</div>
			</div>
			<div class="row14">
				<div class="span3">
					<img alt="Avatar-nara-fx" src="/images/rd/avatar-nara-fx.jpg" />
				</div>
				<div class="span3">
					<p>"Além de toda perspectiva de mercado que temos para conquistar, temos um time formado por pessoas extremamente competentes e comprometidas."</p>
					<h4>Nara Vaz</h4>
					<p class="lead">Customer Success</p>
				</div>
				<div class="span3 offset2">
					<img alt="Avatar-jean-fx" src="/images/rd/avatar-jean-fx.jpg" />
				</div>
				<div class="span3">
					<p>"Aplicar na prática os conceitos do marketing digital para todo tipo de segmento é uma experiência sem igual!"</p>
					<h4>Jean Vidal</h4>
					<p class="lead">Vendas</p>
				</div>
			</div>
		</div>
	</section>

	<hr>

	<section id="location">
		<div class="container16">
			<div class="row16">
				<div class="span16">
					<h2>Não mora em Floripa? Será muito bem vindo!</h2>
				</div>
			</div>
			<div class="row16">
				<div class="span6">
					<h3>Venha morar na capital com maior IDH do Brasil</h3>
					<p>Florianópolis é conhecida nacionalmente por suas belezas naturais e qualidade de vida. São muitas praias, trilhas, bares, restaurantes, festas e tudo o que é preciso para que a cidade ganhasse o apelido de Ilha da Magia.</p>
					<p>O custo de vida é menor comparado aos grandes centros e estamos muito bem localizados. Para facilitar no dia a dia, temos restaurante/lanchonete, academia e ponto de ônibus no local de trabalho.</p>
					<h4>Endereço:</h4>
					<p>
						Rod. SC 401, KM 01 - Parqtec Alfa - Edifício Celta<br>
						88030-000 - Florianópolis - SC - Brasil
					</p>
				</div>
				<div class="span10">
					<img src="http://maps.googleapis.com/maps/api/staticmap?center=-27.57821,-48.518801&zoom=11&size=580x400&sensor=false">
				</div>
			</div>
		</div>
	</section>

	<hr>

	<section id="apply">
		<div class="container14">
			<div class="row14">
				<div class="span14">
					<h2>O que podemos fazer juntos?</h2>
				</div>
			</div>
			<div class="row14">
				<div class="span4">
					<ul class="menu">
						<li id="item_consulting" class="selected"><a href="javascript:void(0)">Customer Success</a></li>
						<li id="item_dev"><a href="javascript:void(0)">Front-end / Back-end dev</a></li>
						<li id="item_growth"><a href="javascript:void(0)">Growth Hacker</a></li>
						<li id="item_marketing"><a href="javascript:void(0)">Marketing Digital</a></li>
						<li id="item_sales"><a href="javascript:void(0)">Vendas</a></li>
					</ul>
				</div>
				
				<div id="desc_consulting" class="span4 offset1">
					<h3>Customer Success</h3>
					<h4>Descrição da vaga</h4>
					<p>Como Customer Success Manager você ajudará dezenas de clientes, muito heterogêneos, a extrair resultado real do Marketing Digital.</p>
					<p>Você NÃO atuará no desenvolvimento como numa agência ou como um desenvolvedor.</p>
					<p>Você precisará entender o negocio de cada um deles, analisar seus números e dar sugestões estratégicas para atividades de: SEO, Analytics, Email Marketing, Landing Page, Geração e Gestão de Leads, etc.</p>
					<p>Você precisará fazê-los amar o RD Station, o marketing digital e a você mesmo.</p>
					<p>Você produzirá conteúdo de alto nível para ajudar mais e mais clientes a trabalharem melhor.</p>
					<p>Para fazer tudo isso você será especialista e contará com uma plataforma de Automação de Marketing que é única no Brasil, o RD Station.</p>
					<h4>Requisitos</h4>
					<ul>
						<li>Vontade de trabalhar com dezenas de clientes diferentes e ajudá-los a gerar resultado;</li>
						<li>Boas habilidades de comunicação e didática;</li>
						<li>Experiência prévia com Marketing Digital (SEO, Analytics, Social Media e Email Marketing);</li>
						<li>Ser curioso, buscar aprender e ter uma alta capacidade analítica para avaliar números e resultados;</li>
						<li>Capacidade de produzir bons textos sobre o Marketing Digital aplicado a PMEs;</li>
						<li>Inglês intermediário ou avançado.</li>
					</ul>
				</div>
				
				<div id="desc_dev" class="span4 offset1" style="display:none;">
					<h3>Front-end / Back-end dev</h3>
					<h4>Descrição da vaga</h4>
					<p>Temos posições para front end developers, back end developers e estagiários.</p>
					<p>Somos apaixonados por desenvolvimento Web e pelos nossos usuários.</p>
					<p><a href="http://coderwall.com/team/resultados-digitais" target="_blank">Conheça mais sobre o nosso time de dev e as tecnologias que utilizamos.</a></p>
					<h4>Nosso guarda-chuva</h4>
					<ul>
						<li>Arquitetura escalável e tunings;</li>
						<li>Ruby e frameworks como Rails e Sinatra;</li>
						<li>TDD e integração contínua;</li>
						<li>SQL (Postgres) e NoSQL;</li>
						<li>JavaScript;</li>
						<li>CSS;</li>
						<li>Heroku e AWS;</li>
						<li>Tudo na Cloud.</li>
					</ul>
				</div>
				
				<div id="desc_growth" class="span4 offset1" style="display:none;">
					<h3>Growth Hacker</h3>
					<h4>Descrição da vaga</h4>
					<p>Como "Growth Hacker" sua missão será nos ajudar a encontrar formas eficientes e escaláveis de crescer nossa base de clientes.</p>
					<p>Seu objetivo será analisar nosso histórico e realidade atual e identificar quais os canais em que conseguimos atrair os melhores clientes e quais são as ações que realizamos que mais contribuem para atrair e converter esses clientes.</p>
					<p>Também será parte importante do seu trabalho planejar, implementar e otimizar ações de meio de funil (transformar Leads em clientes) tais como nutrição de Leads.</p>
					<p>Esse trabalho vai nos ajudar a direcionar o orçamento de marketing e as ações realizadas para os canais que mais se convertem em resultados reais para o negócio.</p>
					<h4>Requisitos</h4>
					<ul>
						<li>Alta capacidade analítca para avaliar empresas, números e resultados;</li>
						<li>Conhecimento de Marketing Digital (SEO, Analytics, Social Media, Email Marketing, etc);</li>
						<li>Boas habilidades de comunicação e didática;</li>
						<li>Ser curioso, pro-ativo e ter alta capacidade de aprendizado;</li>
						<li>Inglês intermediário ou avançado.</li>
					</ul>
				</div>
				
				<div id="desc_marketing" class="span4 offset1" style="display:none;">
					<h3>Marketing Digital</h3>
					<h4>Descrição da vaga</h4>
					<p>Seu papel será nos ajudar a ser a maior referência do Brasil em marketing digital.</p>
					<p>Criar posts para o nosso blog, eBooks sobre temas diversos de marketing digital, identificar oportunidades de SEO, criar campanhas de email marketing, usar as mídias sociais para se relacionar com potenciais clientes, entre muitos outros, serão parte do seu dia a dia.</p>
					<p>Não gostamos de blá blá blá e nossa preocupação é com resultados reais de negócios: Leads e vendas. Para isso estamos sempre próximos de tudo o que acontece no mercado (principalmente lá fora) e garantimos um excelente ambiente de aprendizado.</p>
					<h4>Requisitos</h4>
					<ul>
						<li>Vontade de trabalhar em uma das grandes referências da área no BR;</li>
						<li>Boas habilidades de comunicação e didática;</li>
						<li>Experiência prévia com Marketing Digital (SEO, Analytics, Social Media e Email Marketing);</li>
						<li>Ser curioso, buscar aprender e ter uma alta capacidade analítica para avaliar números e resultados;</li>
						<li>Capacidade de produzir bons textos sobre o Marketing Digital aplicado a PMEs;</li>
						<li>Inglês intermediário ou avançado.</li>
					</ul>
				</div>
				
				<div id="desc_sales" class="span4 offset1" style="display:none;">
					<h3>Vendas</h3>
					<h4>Descrição da vaga</h4>
					<p>Abordagem aos Leads gerados para demonstração e venda do RD Station e serviços complementares. Com o acelerado crescimento da equipe, há oportunidades de especialização em diferentes segmentos e consequente promoção, bem como oportunidades de gestão de equipes de vendas.</p>
					<p>Vale reforçar que o processo de venda é consultivo e só falamos com empresas que já demonstraram interesse claro em Marketing Digital e nossa oferta. Ou seja, o processo é bastante dinâmico, de muito aprendizado e não maçante como em outras posições de vendas tradicionais. Também primamos pelo conhecimento do vendedor em Marketing Digital. Realizamos treinamentos contínuos no tema, além de implementarmos técnicas do estado da arte de marketing e vendas.</p>
					<p>Por fim, a maioria das vendas são realizadas de forma online direto da nossa sede em Florianópolis (Inside Sales), sendo portanto necessárias poucas viagens e deslocamentos.</p>
					<h4>Requisitos</h4>
					<ul>
						<li>Forte interesse em Vendas (experiência formal prévia desejável, mas não obrigatória);</li>
						<li>Familiaridade e interesse em Marketing Digital e suas áreas verticais como Adwords, SEO, Analytics, Mídias Sociais, Landing Pages, etc;</li>
						<li>Excelente comunicação verbal e escrita, organização e proatividade;</li>
						<li>Inglês intermediário ou avançado.</li>
					</ul>
				</div>
				
				<div id="span_form" class="span4 offset1">
					<h4>Candidate-se</h4>
					<form id="conversion-form" action="https://www.rdstation.com.br/api/1.2/conversions" method="POST">
						<input type="hidden" name="token_rdstation" value="4ac98d510af23fd1b39770575544b8e0" />
						<input type="hidden" name="identificador" value="talent-customer-success" />
						<div class="field">
							<input name="nome" class="general required" type="text" placeholder="nome">
						</div>
						<div class="field">
							<input name="email" class="general required email" type="text" placeholder="e-mail">
						</div>
						<div class="field">
							<input name="telefone" class="general required" type="text" placeholder="telefone">
						</div>
						<div class="field">
							<input name="linkedin" class="general required" type="text" placeholder="linkedin">
						</div>
						<div class="field">
							<input name="site" class="general" type="text" placeholder="blog">
						</div>
						<div class="field">
							<textarea name="why" class="general required" rows="6" placeholder="por que quer trabalhar conosco?"></textarea>
						</div>
						<div class="field">
							<label><span id="math_expression">3 + 7 = ?</span></label>
							<input type="text" name="captcha" class="math" />
						</div>
						<div class="actions">
							<input id="cf_submit" class="nbtn" type="submit" value="Submeter candidatura" >
							<img src="//rdstation-static.s3.amazonaws.com/images/ajax-loader.gif" id="ajax-loader" alt="Enviando..." />
						</div>
					</form>
				</div>
				<div id="span_tks" class="span4 offset1" style="display:none;">
					<p class="big-thank-you">Obrigado!</p>
				</div>
				
			</div>
		</div>
	</section>
	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script type="text/javascript" src="//rdstation-static.s3.amazonaws.com/js/jquery.validate/1.9/jquery.validate.min.js"></script>
	<script type="text/javascript" src="//rdstation-static.s3.amazonaws.com/js/jquery.form/2.02/jquery.form.js"></script>
	<script type="text/javascript" src="//rdstation-static.s3.amazonaws.com/js/rd/1.2/rdlps.min.js"></script>
	<script type="text/javascript">
		var origConversionSuccess = conversionSuccess;
		conversionSuccess = function(resp) {
			origConversionSuccess(resp);
			try { _gaq.push(['_trackPageview', '/teste-html-ajax/conversao']); } catch(err) { }
			$('#span_form').hide();
			$('#span_tks').show();
	    }
	</script>
	<script type="text/javascript" src="//rdstation-static.s3.amazonaws.com/js/rd/1.2/rdlps-autofill.min.js"></script>

	

</div>

<div id="wrapper">
<footer>
	<header><span>Resultados Digitais</span></header>
	<div id="description">
		<p>A Resultados Digitais é uma empresa especializada em <strong>Marketing Digital de resultado para Médias e Pequenas empresas</strong>.</p>
		<p>Através de uma plataforma própria de software e de serviços de consultoria, ajudamos nossos clientes a gerar mais e melhores visitas e oportunidades (Leads) para seus negócios e a construir um sólido ativo de Marketing Digital.</p>
		<a href="http://resultadosdigitais.com.br/sobre/">→ Clique aqui para conhecer mais</a>.
	</div>
	<div id="links">
		<div>
			<h3>Contato</h3>
			<ul class="profiles">
				<li class="email_icon"><a href="http://resultadosdigitais.com.br/contato/" title="E-mail"><span>E-mail</span></a></li>
				<li class="facebook_icon"><a href="http://www.facebook.com/ResultadosDigitais" target="_blank" title="Facebook"><span>Facebook</span></a></li>
				<li class="twitter_icon"><a href="http://twitter.com/resdigitais" target="_blank" title="Twitter"><span>Twitter</span></a></li>
				<li class="linkedin_icon"><a href="http://www.linkedin.com/company/2629565" target="_blank" title="Linkedin"><span>Linkedin</span></a></li>
				<li class="googleplus_icon"><a href="https://plus.google.com/108141685269689088342" target="_blank" title="Google+"><span>Google+</span></a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
	<hr />
	<div id="copyright">Copyright &copy; 2013 Resultados Digitais. <a href="http://resultadosdigitais.com.br/politica-de-privacidade/" target="_blank">Política de Privacidade</a>.</div>
</footer>
</div>
<div id="footer-stripe"></div>


  </body>
</html>