<div class="destination clearfix hp-section hp-seperate-dates " id="editDates" style="display:block;">
<a id="edit_dates"></a>
<h3>
Rodrigo, when would you like to stay at Novotel Paris Les Halles?
</h3>
<div class="editDatesForm" style="border-top:none;">
<form class="availForm   hp_availform"
id="hotelpage_availform"
action="/searchresults.html"
method="get"
autocomplete="off"
data-track-onview="BUcJPNJIDFPWe"
>
<div class="hiddenInputSection">
<input type="hidden" name="tab" value="1" />
<input type="hidden" name="origin" value="hp" />
<input type="hidden" name="error_url" value="/hotel/fr/novotel-paris-les-halles.html?sid=ce84ebeda28222f4ec98c83cfb5ee5cb;dcid=4;"/>
<input type="hidden" name="do_availability_check" value="on" />
<input type="hidden" name="dcid" value="4" />
<input type="hidden" name="sid" value="ce84ebeda28222f4ec98c83cfb5ee5cb" />
<input type="hidden" name="dest_type" value="city">
<input type="hidden" name="dest_id" value="-1456928">
<input type="hidden" name="highlighted_hotels" value="53699" />
</div>
<div id="errorSection" class="dateerrors">
</div>
<div class="b-form__dates">
<div class="checkinDateSection b-date-selector" data-type="checkin" >
<p >
Check-in Date
</p>
<a class="calendar inlineJsRequired calendarLink " href="#checkin_year_month" rel="checkin_year_month">
<i title="Open calendar to pick your dates" class="clicktale-propagation b-sprite calendar_icon"></i>
</a>
<div class="b-date-selector__control b-date-selector__control-dayselector">
<select id="checkin_day" class="checkin_day" name="checkin_monthday">
<option class="day prompt" selected="selected" value="0">Day</option>
<option class="b_monthdays" value="1">1</option>
<option class="b_monthdays" value="2">2</option>
<option class="b_monthdays" value="3">3</option>
<option class="b_monthdays" value="4">4</option>
<option class="b_monthdays" value="5">5</option>
<option class="b_monthdays" value="6">6</option>
<option class="b_monthdays" value="7">7</option>
<option class="b_monthdays" value="8">8</option>
<option class="b_monthdays" value="9">9</option>
<option class="b_monthdays" value="10">10</option>
<option class="b_monthdays" value="11">11</option>
<option class="b_monthdays" value="12">12</option>
<option class="b_monthdays" value="13">13</option>
<option class="b_monthdays" value="14">14</option>
<option class="b_monthdays" value="15">15</option>
<option class="b_monthdays" value="16">16</option>
<option class="b_monthdays" value="17">17</option>
<option class="b_monthdays" value="18">18</option>
<option class="b_monthdays" value="19">19</option>
<option class="b_monthdays" value="20">20</option>
<option class="b_monthdays" value="21">21</option>
<option class="b_monthdays" value="22">22</option>
<option class="b_monthdays" value="23">23</option>
<option class="b_monthdays" value="24">24</option>
<option class="b_monthdays" value="25">25</option>
<option class="b_monthdays" value="26">26</option>
<option class="b_monthdays" value="27">27</option>
<option class="b_monthdays" value="28">28</option>
<option class="b_monthdays" value="29">29</option>
<option class="b_monthdays" value="30">30</option>
<option class="b_monthdays" value="31">31</option>
</select>
</div>
<div class="b-date-selector__control b-date-selector__control-monthselector">
<select id="checkin_year_month" class="checkin_year_month" name="checkin_year_month">
<option class="month prompt" selected="selected" value="0">Month</option>
<option class="b_months" value="2015-3" >
March 2015
</option>
<option class="b_months" value="2015-4" >
April 2015
</option>
<option class="b_months" value="2015-5" >
May 2015
</option>
<option class="b_months" value="2015-6" >
June 2015
</option>
<option class="b_months" value="2015-7" >
July 2015
</option>
<option class="b_months" value="2015-8" >
August 2015
</option>
<option class="b_months" value="2015-9" >
September 2015
</option>
<option class="b_months" value="2015-10" >
October 2015
</option>
<option class="b_months" value="2015-11" >
November 2015
</option>
<option class="b_months" value="2015-12" >
December 2015
</option>
<option class="b_months" value="2016-1" >
January 2016
</option>
<option class="b_months" value="2016-2" >
February 2016
</option>
<option class="b_months" value="2016-3" >
March 2016
</option>
</select>
</div>
</div>
<div class="checkoutDateSection b-date-selector" data-type="checkout" >
<p >
Check-out Date
</p>
<a class="calendar inlineJsRequired calendarLink" href="#checkout_year_month" rel="checkout_year_month">
<i title="Open calendar to pick your dates" class="clicktale-propagation b-sprite calendar_icon"></i>
</a>
<div class="b-date-selector__control b-date-selector__control-dayselector">
<select id="checkout_monthday" name="checkout_monthday" class="checkout_monthday">
<option class="day prompt" selected="selected" value="0">Day</option>
<option class="b_monthdays" value="1" >1</option>
<option class="b_monthdays" value="2" >2</option>
<option class="b_monthdays" value="3" >3</option>
<option class="b_monthdays" value="4" >4</option>
<option class="b_monthdays" value="5" >5</option>
<option class="b_monthdays" value="6" >6</option>
<option class="b_monthdays" value="7" >7</option>
<option class="b_monthdays" value="8" >8</option>
<option class="b_monthdays" value="9" >9</option>
<option class="b_monthdays" value="10" >10</option>
<option class="b_monthdays" value="11" >11</option>
<option class="b_monthdays" value="12" >12</option>
<option class="b_monthdays" value="13" >13</option>
<option class="b_monthdays" value="14" >14</option>
<option class="b_monthdays" value="15" >15</option>
<option class="b_monthdays" value="16" >16</option>
<option class="b_monthdays" value="17" >17</option>
<option class="b_monthdays" value="18" >18</option>
<option class="b_monthdays" value="19" >19</option>
<option class="b_monthdays" value="20" >20</option>
<option class="b_monthdays" value="21" >21</option>
<option class="b_monthdays" value="22" >22</option>
<option class="b_monthdays" value="23" >23</option>
<option class="b_monthdays" value="24" >24</option>
<option class="b_monthdays" value="25" >25</option>
<option class="b_monthdays" value="26" >26</option>
<option class="b_monthdays" value="27" >27</option>
<option class="b_monthdays" value="28" >28</option>
<option class="b_monthdays" value="29" >29</option>
<option class="b_monthdays" value="30" >30</option>
<option class="b_monthdays" value="31" >31</option>
</select>
</div>
<div class="b-date-selector__control b-date-selector__control-monthselector">
<select id="checkout_year_month" class="checkout_year_month" name="checkout_year_month" style="clear:both;">
<option class="month prompt" selected="selected" value="0">Month</option>
<option class="b_months" value="2015-3" >
March 2015
</option>
<option class="b_months" value="2015-4" >
April 2015
</option>
<option class="b_months" value="2015-5" >
May 2015
</option>
<option class="b_months" value="2015-6" >
June 2015
</option>
<option class="b_months" value="2015-7" >
July 2015
</option>
<option class="b_months" value="2015-8" >
August 2015
</option>
<option class="b_months" value="2015-9" >
September 2015
</option>
<option class="b_months" value="2015-10" >
October 2015
</option>
<option class="b_months" value="2015-11" >
November 2015
</option>
<option class="b_months" value="2015-12" >
December 2015
</option>
<option class="b_months" value="2016-1" >
January 2016
</option>
<option class="b_months" value="2016-2" >
February 2016
</option>
<option class="b_months" value="2016-3" >
March 2016
</option>
</select>
</div>
</div>
</div>
<div class="but " style="width:100%; position:relative;">
<div id="rate_guarantee" style="position:relative;background-image:none;display:inline;text-align:left;padding:3px 5px 3px 2em;" data-track-onview="BUZOEMeAZcaOaaO">
<i class="b-sprite green-tick-price-guaranteed"></i>
<a href="/general.html?sid=ce84ebeda28222f4ec98c83cfb5ee5cb;dcid=4;tmpl=doc/rate_guarantee" title="It's our mission to make sure that you get the lowest possible price for your stay when you book with Booking.com. If you happen to find a lower rate for your stay on any internet site after you've booked with us, let us know! Just provide us with the details of the website and we’ll match the lowest rate for all valid Best Price Guarantee claims. Click this link for more information about the guarantee." rel="400" class="jq_tooltip" >
Best Price Guaranteed
</a>
</div>
<div data-track-onview="BUMEfTLbUOaGBNeC"></div>
<input type="submit" class="avail-date-submit js-avail-date-submit b-button b-button_primary b-button_disabled " value="Check availability" disabled="disabled" />
</div>
</form>
</div>


<div class="">
  <span >Lock in a great price for your stay on these dates: </span>
  <a href="/searchresults.html?sid=ce84ebeda28222f4ec98c83cfb5ee5cb;dcid=4;checkin=2015-03-27;checkout=2015-03-28;city=-1456928;dcsc=2&amp;" class="b-button b-button_primary" data-google-track="Click/Action: sr_av_msg_dates">
  Mar 27 — Mar 28
  </a>
  <a href="/searchresults.html?sid=ce84ebeda28222f4ec98c83cfb5ee5cb;dcid=4;checkin=2015-03-26;checkout=2015-03-27;city=-1456928;dcsc=2&amp;" class="b-button b-button_primary " data-google-track="Click/Action: sr_av_msg_dates">
  Mar 26 — Mar 27
  </a>
  <a href="/searchresults.html?sid=ce84ebeda28222f4ec98c83cfb5ee5cb;dcid=4;checkin=2015-04-03;checkout=2015-04-04;city=-1456928;dcsc=2&amp;" class="b-button b-button_primary " data-google-track="Click/Action: sr_av_msg_dates">
  Apr 3 — Apr 4
  </a>
  <a href="/searchresults.html?sid=ce84ebeda28222f4ec98c83cfb5ee5cb;dcid=4;checkin=2015-03-30;checkout=2015-03-31;city=-1456928;dcsc=2&amp;" class="b-button b-button_primary " data-google-track="Click/Action: sr_av_msg_dates">
  Mar 30 — Mar 31
  </a>

</div>

</div>
