<form id="frm"
name="frm"
action="/searchresults.en-us.html"
method="get"
style="padding-bottom: 13px"
autocomplete="off"
class="b-form b-searchbox b-searchbox_narrow flexible_group_searchbox_justbox ">
<div class="b-form__header b-form-group">
<div class="b-form-group__content">
<h3 class="b-form-title">
<span class="b-form-title__text">Search</span>
</h3>
</div>
</div>
<fieldset>
<input type="hidden" name="src" value="searchresults" />
<input type="hidden" name="city" value="-1456928" />
<input type="hidden" name="ssne" value="Paris" />
<input type="hidden" name="ssne_untouched" value="Paris" />
<input type="hidden" name="error_url" value="http://www.booking.com&#47;searchresults.html?sid=ce84ebeda28222f4ec98c83cfb5ee5cb;dcid=4;city=-1456928;class_interval=1;csflt=%7B%7D;dtdisc=0;hlrd=0;hyb_red=0;idf=1;inac=0;nha_red=0;no_rooms=1;offset=0;redirected_from_city=0;redirected_from_landmark=0;redirected_from_region=0;review_score_group=empty;sb_travel_purpose=leisure;score_min=0;si=ai%2Cco%2Cci%2Cre%2Cdi;src=index;ss_all=0;ssb=empty;sshis=0&amp;;or_radius=0;" />
<input type="hidden" name="dcid" value="4" />
<input type="hidden" name="sid" value="ce84ebeda28222f4ec98c83cfb5ee5cb" />
<div id="destinationSearch">
<h4>
Destination/Hotel Name:
</h4>
<input type="hidden" name="si" value="ai,co,ci,re,di" />
<div class="fake-placeholder-wrapper">
<input
class="
text
 stately_input sb_input_bigger ac_input_white_space"
type="text"
results="0"
autosave="booking.com"
placeholder="Paris"
id="destination"
name="ss"
autocomplete="off"
value="Paris"
/>
</div>
<div class="b-form__booker-type--top b-form__booker-type b-form-group">
<div class="b-form-group__content">
<div class="b-radiobuttons business_bookers_collection" style="margin-left: -6px;">
<label class="b-booker-type sb_business_booker tracked" data-google-track="Click/bb_sb_select/searchresults : selected business">
<input class="b-booker-type__input b-booker-type__input_business-booker" type="radio" name="sb_travel_purpose" value="business" > Business
</label>&nbsp;
<label data-google-track="Click/bb_sb_select/searchresults : selected leisure" class="b-booker-type tracked">
<input class="b-booker-type__input b-booker-type__input_leisure-booker" type="radio" name="sb_travel_purpose" value="leisure" checked> Leisure
</label>
</div>
</div>
</div>
</div>
<div class="b-form__dates b-form-group  b-form__dates_flexible-mode">
<p class="b-form-group__price_info b-form-group__price_info-hidden">Please enter dates to see prices and availability.</p>
<div class="b-form-group__error-messages">
<ul class="b-form-group__error-messages_list">
</ul>
</div>
<div class="b-form-group__content">
<div class="b-form-date-selectors b-form-group b-form-group_subgroup  ">
<div class="b-form-checkin b-form-group b-form-group_subgroup b-form-group_inline">
<label class="b-form-group__title">Check-in Date</label>
<div class="b-form-group__controls b-date-selector" data-type="checkin">
<div class="b-date-selector__control b-date-selector__control-datepicker b-datepicker"
data-calendar2-type="checkin"
id="first_calendar"
data-calendar2-title="Check-in Date"
type="button"
><span class="b-datepicker__inner-text">Choose a check-in date</span></div>
<div class="b-date-selector__control b-date-selector__control-dayselector b-selectbox">
<select name="checkin_monthday" class="b-selectbox__element">
<option selected="selected" value="0">Day</option>
<option value="1" >1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" >10</option>
<option value="11" >11</option>
<option value="12" >12</option>
<option value="13" >13</option>
<option value="14" >14</option>
<option value="15" >15</option>
<option value="16" >16</option>
<option value="17" >17</option>
<option value="18" >18</option>
<option value="19" >19</option>
<option value="20" >20</option>
<option value="21" >21</option>
<option value="22" >22</option>
<option value="23" >23</option>
<option value="24" >24</option>
<option value="25" >25</option>
<option value="26" >26</option>
<option value="27" >27</option>
<option value="28" >28</option>
<option value="29" >29</option>
<option value="30" >30</option>
<option value="31" >31</option>
</select>
</div>
<div class="b-date-selector__control b-date-selector__control-monthselector b-selectbox">
<select name="checkin_year_month" class="b-selectbox__element">
<option selected="selected" value="0">Month</option>
<option class="b_months" value="2015-3" >
March 2015
</option>
<option class="b_months" value="2015-4" >
April 2015
</option>
<option class="b_months" value="2015-5" >
May 2015
</option>
<option class="b_months" value="2015-6" >
June 2015
</option>
<option class="b_months" value="2015-7" >
July 2015
</option>
<option class="b_months" value="2015-8" >
August 2015
</option>
<option class="b_months" value="2015-9" >
September 2015
</option>
<option class="b_months" value="2015-10" >
October 2015
</option>
<option class="b_months" value="2015-11" >
November 2015
</option>
<option class="b_months" value="2015-12" >
December 2015
</option>
<option class="b_months" value="2016-1" >
January 2016
</option>
<option class="b_months" value="2016-2" >
February 2016
</option>
<option class="b_months" value="2016-3" >
March 2016
</option>
</select>
</div>
</div>
</div>
<div class="b-form-checkout b-form-group b-form-group_subgroup b-form-group_inline">
<label class="b-form-group__title">Check-out Date</label>
<div class="b-form-group__controls b-date-selector" data-type="checkout">
<div class="b-date-selector__control b-date-selector__control-datepicker b-datepicker"
data-calendar2-type="checkout"
data-calendar2-title="Check-out Date"
type="button"
><span class="b-datepicker__inner-text">Choose a check-out date</span></div>
<div class="b-date-selector__control b-date-selector__control-dayselector b-selectbox">
<select name="checkout_monthday" class="b-selectbox__element">
<option selected="selected" value="0">Day</option>
<option value="1" >1</option>
<option value="2" >2</option>
<option value="3" >3</option>
<option value="4" >4</option>
<option value="5" >5</option>
<option value="6" >6</option>
<option value="7" >7</option>
<option value="8" >8</option>
<option value="9" >9</option>
<option value="10" >10</option>
<option value="11" >11</option>
<option value="12" >12</option>
<option value="13" >13</option>
<option value="14" >14</option>
<option value="15" >15</option>
<option value="16" >16</option>
<option value="17" >17</option>
<option value="18" >18</option>
<option value="19" >19</option>
<option value="20" >20</option>
<option value="21" >21</option>
<option value="22" >22</option>
<option value="23" >23</option>
<option value="24" >24</option>
<option value="25" >25</option>
<option value="26" >26</option>
<option value="27" >27</option>
<option value="28" >28</option>
<option value="29" >29</option>
<option value="30" >30</option>
<option value="31" >31</option>
</select>
</div>
<div class="b-date-selector__control b-date-selector__control-monthselector b-selectbox">
<select name="checkout_year_month" class="b-selectbox__element">
<option selected="selected" value="0">Month</option>
<option class="b_months" value="2015-3" >
March 2015
</option>
<option class="b_months" value="2015-4" >
April 2015
</option>
<option class="b_months" value="2015-5" >
May 2015
</option>
<option class="b_months" value="2015-6" >
June 2015
</option>
<option class="b_months" value="2015-7" >
July 2015
</option>
<option class="b_months" value="2015-8" >
August 2015
</option>
<option class="b_months" value="2015-9" >
September 2015
</option>
<option class="b_months" value="2015-10" >
October 2015
</option>
<option class="b_months" value="2015-11" >
November 2015
</option>
<option class="b_months" value="2015-12" >
December 2015
</option>
<option class="b_months" value="2016-1" >
January 2016
</option>
<option class="b_months" value="2016-2" >
February 2016
</option>
<option class="b_months" value="2016-3" >
March 2016
</option>
</select>
</div>
</div>
</div>
</div>
<p class="b-form-number-of-nights"></p>
<div class="b-form-flexible-dates b-form-group b-form-group_subgroup  b-form-flexible-dates_selected">
<div class="b-form-flexible-dates__toggler b-checkbox">
<label class="b-checkbox__container">
<input
class="b-checkbox__element"
type="checkbox"
name="idf"
checked="checked"
/>
<span class="b-checkbox__label">
I don't have specific dates yet
</span>
</label>
</div>
</div>
</div>
</div>
<div class="b-form__group b-form-group b-form-group_inline-label">
<div class="b-form-predefined-group b-form-group b-form-group_subgroup" >
<div class="b-form-group__content">
<div class="b-form-group__controls">
<div class="b-predefined-group-selector b-selectbox b-selectbox_type_inline">
<label class="b-selectbox__container">

<span class="b-selectbox__label">Guests: </span>

<span class="b-selectbox__label">2 adults, 1 children </span>


<a href="#" style="color:#009fe3;">change</a>


<select class="b-selectbox__element b-selectbox__groupselection" name="" id="" style="display:none;">
<option
value="2"
data-adults="2"
data-rooms="1"
data-children=""
data-name="2 adults, 0 children"
data-type="basic">2 adults, 0 children</option>
selected="selected"
<option
value="1"
data-adults="1"
data-name="1 adult, 0 children"
data-type="basic"
>1 adult, 0 children</option>
<option
value="3"
data-type="more_options"
>More options</option>
</select>
</label>
</div>
</div>
</div>
</div>
<div class="b-form-custom-group b-form-group b-form-group_subgroup b-form-custom-group_disabled">
<div class="b-form-group__content">
<div class="b-form-group__controls">
<div class="b-custom-group-configurator">
<div class="b-custom-group-configurator__control b-custom-group-configurator__control_inline b-rooms-selectbox b-selectbox b-selectbox_type_inline">
<label class="b-selectbox__container">
<span class="b-selectbox__label">Rooms</span>
<select class="b-selectbox__element b-selectbox__element_size_small" name="no_rooms">
<option value="1" selected="selected">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
</select>
</label>
</div>
<div class="b-custom-group-configurator__control b-custom-group-configurator__control_inline b-adults-selectbox b-selectbox b-selectbox_type_inline">
<label class="b-selectbox__container">
<span class="b-selectbox__label">Adults</span>
<select class="b-selectbox__element b-selectbox__element_size_small" name="group_adults">
<option value="1">1</option>
<option value="2" selected="selected">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
</select>
</label>
</div>
<div class="b-custom-group-configurator__control b-custom-group-configurator__control_inline b-children-selectbox b-selectbox b-selectbox_type_inline">
<label class="b-selectbox__container">
<span class="b-selectbox__label">Children</span>
<select class="b-selectbox__element b-selectbox__element_size_small" name="group_children">
<option value="0" selected="selected">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
</label>
</div>
</div>
</div>
</div>
</div>
<div class="b-form-children-ages b-form-children-ages_disabled b-form-group b-form-group_subgroup">
<div class="b-form-group__error-messages">
<!--TMPL_INCLUDE inc/searchbox/group/errors.inc-->
</div>
<div class="b-form-group__content">
<div class="b-form-group__controls">
<div class="b-children-ages-configurator">
<div class="b-custom-group-configurator__control b-custom-element">
<label class="b-custom-element__container" for="">
<div class="b-custom-element__label">Age of child(ren) at check-out</div>
</label>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="b-form__footer b-form-group ">
<div class="b-form-group__content">
<button
class="b-button b-button_primary b-searchbox-button b-searchbox-button_legacy"
id="searchbox_btn"
type="submit"
title="Search properties"
>
<span class="b-button__text">Search</span>
</button>
</div>
</div><!-- end .b-form__footer -->
<input name="highlighted_hotels" type="hidden" value="" />
</fieldset>
</form>
