<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>blenbox</title>
		<%= stylesheet_link_tag    'blenbox/blenbox', media: 'all' %>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-18762296-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>
		<div class="raiz">
			<div id="content">
				<div id="scroll-v">
					<div id="vertical" class="dragdealer">
						<div class="handle vertical"></div>
					</div>
				</div>
				<div id="atalho-dia">
					<p id="magnifying-text"><span>Hoje</span><span>17/01</span></p>
					<p><span>Amanhã</span><span>18/01</span></p>
					<p><span>Quinta-feira</span><span>19/01</span></p>
					<p><span>Sexta-feira</span><span>20/01</span></p>
					<p><span>Sábado</span><span>21/01</span></p>
					<p><span>Domingo</span><span>22/01</span></p>
					<p><span>Segunda</span><span>23/01</span></p>
				</div>

				<div id="scroll-h">
					<%= render :partial => 'scroll_h' %>
				</div>

				<div id="atalho-lineup">
					<p><span>A&E - BOO</span></p>
					<p><span>Can - Dis</span></p>
					<p><span>Dis - FOX</span></p>
					<p><span>FOX - HBO</span></p>
					<p><span>HBO - MAX</span></p>
					<p><span>MAX - Pre</span></p>
					<p><span>Pre - Rec</span></p>
					<p><span>SBT - Stu</span></p>
					<p><span>TBS - TNT</span></p>
					<p><span>Too - War</span></p>
				</div>
				<div id="horas">
					<p>00:00</p>
					<p>00:30</p>
					<p>01:00</p>
					<p>01:30</p>
					<p>02:00</p>
					<p>02:30</p>
					<p>03:00</p>
					<p>03:30</p>
					<p>04:00</p>
					<p>04:30</p>
					<p>05:00</p>
					<p>05:30</p>
					<p>06:00</p>
					<p>06:30</p>
					<p>07:00</p>
					<p>07:30</p>
					<p>08:00</p>
					<p>08:30</p>
					<p>09:00</p>
					<p>09:30</p>
					<p>10:00</p>
					<p>10:30</p>
					<p>11:00</p>
					<p>11:30</p>
					<p>12:00</p>
					<p>12:30</p>
					<p>13:00</p>
					<p>13:30</p>
					<p>14:00</p>
					<p>14:30</p>
					<p>15:00</p>
					<p>15:30</p>
					<p>14:00</p>
					<p>14:30</p>
					<p>15:00</p>
					<p>15:30</p>
					<p>16:00</p>
					<p>16:30</p>
					<p>17:00</p>
					<p>17:30</p>
					<p>18:00</p>
					<p>18:30</p>
					<p>19:00</p>
					<p>19:30</p>
					<p>20:00</p>
					<p>20:30</p>
					<p>21:00</p>
					<p>21:30</p>
					<p>22:00</p>
					<p>22:30</p>
					<p>23:00</p>
					<p>23:30</p>
				</div>
				<div id="filtro-canal">
				</div>
				<div id="grade">
					<section id="grid_container">
						<%= render :partial => 'grid' %>
					</section>
				</div>
			</div>
		</div>
		<%= javascript_include_tag 'blenbox/blenbox' %>
	</body>
</html>
