@import 'dragdealer';
@import 'ui/1.10.2/themes/smoothness/jquery-ui';

html, body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.2;
}
html {
	height:100%;
}
body {
	background-color:#101010;
	margin:0;
	width:100%;
	height:100%;
}
div.raiz {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: table;
	height: 100%;
	padding: 0;
	width: 100%;
	min-height:320px;
}

div#content {
	width:968px;
	height:620px;
	margin:0 auto;
	left:50%;
	margin-left:-486px;
	top:50%;
	margin-top:-310px;
	position:absolute;
	background-color:#1a1a1a;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:2px 2px 4px #000;
	bottom: 0;
	content: "";
	display: block;
	background-image:image-url('blenbox/bg.jpg');
	background-repeat:no-repeat;
}

div#scroll-h {
	width:762px;
	height:44px;
	left:194px;
	top:32px;
	position:absolute;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

div#scroll-h div#foco-lineup {
	width:74px;
	height:40px;
	left:2px;
	top:2px;
	position:relative;
	background-image:image-url('blenbox/botao-h.png');
	background-repeat:no-repeat;
	cursor:pointer;
}
div#atalho-lineup
{
	width:760px;
	height:20px;
	left:194px;
	top:12px;
	position:absolute;
	padding:0 1px;
}
div#atalho-lineup p
{
	display:block;
	text-align:center;
	width:74px;
	height:18px;
	padding:2px 0 0;
	margin:0 1px;
	float:left;
	color:#e5e5e5;
	font-size:12px;
}
div#atalho-lineup p span
{
	display:block;
	font-weight:bold;
}

div#scroll-v {
	width:40px;
	height:446px;
	left:96px;
	top:158px;
	position:absolute;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding:2px;
}
div#scroll-v div#foco-dia {
	width:40px;
	height:62px;
	position:relative;
	background-image:image-url('blenbox/botao-v.png');
	background-repeat:no-repeat;
}
div#atalho-dia
{
	width:96px;
	height:448px;
	left:0px;
	top:158px;
	position:absolute;
	padding:1px 0;
}
div#atalho-dia p
{
	display:block;
	text-align:right;
	width:88px;
	height:48px;
	float:left;
	clear:both;
	padding:14px 4px 0 4px;
	margin:1px 0;
	color:#e5e5e5;
}
div#atalho-dia p span
{
	display:block;
}


div#horas
{
	width:56px;
	height:458px;
	left:140px;
	top:96px;
	position:absolute;
	padding:54px 0 0 0;
	overflow:hidden;
}
div#horas p
{
	display:block;
	text-align:right;
	width:48px;
	height:60px;
	float:left;
	clear:both;
	padding:0 8px 0 0;
	margin:0;
	color:#e5e5e5;
	font-size:0.9em;
}


div#grade {
	width:746px;
	height:520px;
	left:194px;
	top:88px;
	padding:0 8px;
	position:absolute;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	overflow:hidden;
}

div#grade section {
	display:block;
	float:left;
	top:0;
	left:0;
	position:relative;
	width:15696px;
	height:20230px;
}

div#grade hgroup {
	width:144px;
	height:20230px;
	display:block;
	float:left;
	padding:0;
	margin:0;

}
div#grade hgroup h2 {
	float:left;
	display:block;
	clear:both;
	width:120px;
	height:18px;
	padding:52px 12px 0;
	margin:0;
	text-align:center;
	color:#b2b2b2;
	font-size:0.8em;
	background-position:16px 8px;
	background-repeat:no-repeat;
}

div#grade hgroup div#grade_semana {
	float:left;
	top:120px;
	width:746px;
	height:450px;
	background-color:#009900;
	margin-top:-120px;
}

div#grade hgroup ul.semana {
	float:left;
	display:block;
	clear:both;
	width:144px;
	height:20160px;
	margin:0;
	padding:0;
	background-image:image-url('blenbox/bg-week.gif');
	background-repeat:repeat-y;
}
div#grade hgroup ul.semana li.dia {
	float:left;
	display:block;
	clear:both;
	width:144px;
	height:2880px;
	margin:0;
	padding:0;
}

div#grade hgroup ul.semana li.dia ul {
	float:left;
	display:block;
	clear:both;
	width:120px;
	height:2880px;
	margin:0 12px;
	padding:0;
}

div#grade hgroup ul.semana li.dia ul li {
	float:left;
	display:block;
	clear:both;
	width:120px;
	height:120px;
	margin:0;
	padding:0;
	overflow:hidden;
	background-image:image-url('blenbox/bg-event.png');
	background-repeat:no-repeat;
}

div#grade hgroup ul.semana li.dia ul li h3 {
	display:block;
	margin:0;
	padding:4px 0 0 0;
	font-size:1.0em;
	font-weight:bold;
	line-height:1.1;
}
div#grade hgroup ul.semana li.dia ul li p {
	display:block;
	line-height:1.1;
	font-size:0.8em;
	margin:0;
	padding:0;
}






/*ids dos canais*/
div#grade hgroup#ch001 h2 {background-image:image-url('blenbox/logos/021.png');}
div#grade hgroup#ch002 h2 {background-image:image-url('blenbox/logos/022.png');}
div#grade hgroup#ch003 h2 {background-image:image-url('blenbox/logos/023.png');}
div#grade hgroup#ch004 h2 {background-image:image-url('blenbox/logos/024.png');}
div#grade hgroup#ch005 h2 {background-image:image-url('blenbox/logos/025.png');}
div#grade hgroup#ch006 h2 {background-image:image-url('blenbox/logos/026.png');}
div#grade hgroup#ch007 h2 {background-image:image-url('blenbox/logos/027.png');}
div#grade hgroup#ch008 h2 {background-image:image-url('blenbox/logos/028.png');}
div#grade hgroup#ch009 h2 {background-image:image-url('blenbox/logos/034.png');}
div#grade hgroup#ch010 h2 {background-image:image-url('blenbox/logos/035.png');}


div#grade hgroup ul.semana {
	position:relative;
	top:0px;
}

#draggable { background-color:#0099ff; }
