<div class="content-area area-footer">
  <p class="text-muted text-center">&copy; Rodrigo Quaresma 2016 · Made with :love: and a good help from Bootstrap, Atom, GitHub, Heroku, Ruby, Rails and JQuery</p>
</div>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "modernizr-2.8.3" %>
<%= javascript_include_tag "portfolio" %>

<%= render :partial => 'layouts/clicktale_footer' %>
