@import "components/variables-portfolio";
@import "bootstrap/mixins";

@import "elastislide";

.elastislide-carousel ul li a img {
  border-radius: 4px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
}
.elastislide-carousel ul li.current-img a img {
  border-color:$link-color;
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
  opacity: 0.9;
}

.elastislide-wrapper nav span {
	background-color: $link-color;
	border-color: $link-color;
}

.elastislide-wrapper nav span:hover {
	background-color: darken($link-color, 15%);
	border-color: darken($link-color, 15%);
}
