.header-brand-name {
  a {
    text-decoration: none;
    color: #f16446;
    -webkit-transition: color .2s ease-out,color .2s ease-out;
    transition: color .2s ease-out,color .2s ease-out;
    &:focus,
    &:hover {
      // text-decoration: none;
      color: $link-color;
    }
  }
}

.header {
  .header-menu {
    // float: left;
    width: 100%;
    padding: 0;
    border-style: solid;
    border-width: 1px 0;
    border-color: $color-schema-bg;
    text-align: center;
    margin-bottom: 0;
    > li {
      display: inline-block;
      text-align: center;
      padding: 0 5px;
      > a {
        text-decoration: none;
        font-size: $font-size-base;
        display: inline-block;
        line-height: 3em;
        border-bottom: 1px solid transparent;
        text-transform: uppercase;
        color: $text-color;
        opacity: 0.7;
        &:hover,
        &:focus {
          text-decoration: none;
          color: $link-color;
          border-color: $link-hover-color;
          opacity: 0.9;
        }
      }
      &.active {
        > a {
          opacity: 0.9;
          font-weight: bold;
          color: $link-color;
          border-color: $link-hover-color;
          &:hover,
          &:focus {
            // color: $link-hover-color;
            // border-color: $link-hover-color;
          }
        }
      }
    }
  }
}

.area-name {
  .header-area-avatar,
  .header-area-body {
  }
  .header-area-avatar {
    margin: 0 11px 11px 0;
    .profile-avatar {
      width: 4em;
      border-radius: 50%;
    }
  }
  .header-area-body {
    .header-brand-name { }
    .header-brand-role {
      margin: 0;
    }
  }
}

.menu-button {
  .menu-button-touch {
    z-index: 2;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: $link-color;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    position: fixed;
    text-align: center;
    line-height: 4em;
    color: $color-schema-bg;
    font-weight: bold;
  }
  .menu-button-group {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
  }
}


// media querys
@media (min-width: $screen-sm-min) {
  .area-name {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    .header-area-avatar,
    .header-area-body {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: flex-start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
    }
  }
  .header {
    // border-style: solid;
    // border-width: 0 0 20px 0;
    // border-color: #e5e4df;
    .header-menu {
      border: none;
      margin: 0;
      text-align: left;
      padding-right: 1em;
      > li {
        // margin: 0 .5em;
        > a {
          line-height: 5em;
        }
      }
    }
  }
}
@media (min-width: $screen-md-min) {
}
@media (min-width: $screen-lg-min) {
  .header .header-brand { width: 75%; }
}
