.header {
  padding: 1px 0 0;
  .header-name {
    padding: 1em 0 0 0;
    font-size: 3em;
    font-weight: 100;
    line-height: 0.7em;
    text-transform: uppercase;
    letter-spacing: .16em;
    margin: 0;
  }
  .header-line { margin: 0; }
  .header-job {
    text-align: center;
    line-height: .5em;
    font-size: 2em;
  }
  ul {
    margin: 2em 0;
    li {
      a {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.2em;
      }
      &.active a { font-weight: 400; }
    }
  }
}
