
/*menu*/

ul,
li
{
	list-style:none;
	display:block;
	margin:0;
	padding:0;
	border:none;
	background:none;
}

/*primeiro nivel*/

ul.menu {
	position:absolute;
	top:0;
	left:0;
	width:1280px;
	height:720px;
	overflow:hidden;
	background-image:url(../images/menu-bg-layer-1.png);
	background-repeat:no-repeat;
	background-position:0 0;
}

ul.menu li.item {
	position:absolute;
	top:0;
	left:0;
	width:320px;
	height:64px;
	padding:0 16px 0 144px;
	font-size:28px;
	text-align:left;
	text-transform:uppercase;
	color:#e5e5e5;
	background-repeat:no-repeat;
	background-position:64px 0px;
	opacity:0.5;
}
ul.menu li.item span {display:block;padding:16px 0 0 0;}
ul.menu li.item.focado {font-weight:bold;opacity:1.0;}

/*icones*/
ul.menu li.item.canais-de-tv 	{background-image:url(../icons/menu-canais-de-tv.png);}
ul.menu li.item.outra-chance	{background-image:url(../icons/menu-outra-chance.png);}
ul.menu li.item.on-demand		{background-image:url(../icons/menu-on-demand.png);}
ul.menu li.item.gravador		{background-image:url(../icons/menu-gravador.png);}
ul.menu li.item.destaques		{background-image:url(../icons/menu-destaques.png);}
ul.menu li.item.aplicativos		{background-image:url(../icons/menu-aplicativos.png);}
ul.menu li.item.busca			{background-image:url(../icons/menu-busca.png);}
ul.menu li.item.configuracoes	{background-image:url(../icons/menu-configuracoes.png);}


/*segundo nivel*/

ul.menu li.item ul.submenu {
	position:absolute;
	top:-304px;
	
	width:1280px;
	height:720px;
	overflow:hidden;
	z-index:100;
	background-repeat:no-repeat;
	background-position:0 0;
}
ul.menu li.item ul.submenu.aberto	{background-image:url(../images/menu-bg-layer-2-a.png);left:120px;}
ul.menu li.item ul.submenu.fechado	{background-image:url(../images/menu-bg-layer-2-b.png);left:456px;}

ul.menu li.item ul.submenu li.subitem {
	position:absolute;
	top:0px;
	left:0px;
	width:432px;
	height:64px;
	padding:0 16px 0 32px;
	font-size:28px;
	font-weight:normal;
	text-align:left;
	text-transform:uppercase;
	color:#e5e5e5;
	opacity:0.5;
}
ul.menu li.item ul.submenu li.subitem span {display:block;padding:16px 0 0 0;}
ul.menu li.item ul.submenu li.subitem.focado {font-weight:bold;opacity:1.0;color:#343434;}

/*terceiro nivel*/

ul.menu li.item ul.submenu li.subitem ul.sub2menu {
	position:absolute;
	top:-304px;
	left:64px;
	width:1280px;
	height:720px;
	overflow:hidden;
	z-index:200;
	
	background-repeat:no-repeat;
	background-position:0 0;
}
ul.menu li.item ul.submenu li.subitem ul.sub2menu.aberto	{background-image:url(../images/menu-bg-layer-2-a.png);left:8px;}
ul.menu li.item ul.submenu li.subitem ul.sub2menu.fechado	{background-image:url(../images/menu-bg-layer-2-b.png);left:336px;}

ul.menu li.item ul.submenu li.subitem ul.sub2menu li.sub2item {
	position:absolute;
	top:0;
	left:0;
	width:432px;
	height:64px;
	padding:0 16px 0 32px;
	font-size:28px;
	font-weight:normal;
	text-align:left;
	text-transform:uppercase;
	color:#e5e5e5;
	opacity:0.5;
}
ul.menu li.item ul.submenu li.subitem ul.sub2menu li.sub2item span {display:block;padding:16px 0 0 0;}
ul.menu li.item ul.submenu li.subitem ul.sub2menu li.sub2item.focado {font-weight:bold;opacity:1.0;color:#343434;}