<div class="area-name">
  <h1 class="header-brand-name">
    <%= link_to 'rodrigo quaresma', portfolio_index_path %>
  </h1>
  <p class="header-brand-role">UX Designer</p>
</div>
<div class="area-about">
  <%= render :partial => 'portfolio/about_content' %>
  <a href="#" class="btn btn-primary">contact me</a>
</div>
