<div class="content-area area-name">
  <div class="header-area-avatar">
    <%= image_tag "vangogh/avatar-big.jpg", alt: "rodrigo quaresma", class: "profile-avatar" %>
  </div>
  <div class="header-area-body">
    <h1 class="header-brand-name">
      <%= link_to 'rodrigo quaresma', portfolio_index_path %>
    </h1>
    <p class="header-brand-role">UX Designer</p>
  </div>
</div>
<div class="content-area area-about hidden-xs">
  <%= render :partial => 'portfolio/about_content' %>
  <a href="#">contact me</a>
</div>
