<div style="background:transparent;padding:40px;margin:0;">
<h1 class="header-brand-name">rodrigo quaresma</h1>
<p class="header-brand-role">UX Designer</p>
</div>
<div style="background:transparent;padding:40px;margin:0;">
<%= render :partial => 'portfolio/about_content' %>
</div>
