<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h1 class="text-center">rodrigo quaresma</h1>
      <hr class="spacer-md invisible" />
      <h2 class="text-center">About me</h2>
      <p class="lead text-center">
        I am a Brazilian designer who loves simple things. I love to ride my bike, drink coffee, read a book (Asimov is one of my favorites) and, as could not be different, I really love create interactions that people will engage and love.
      </p>
      <p class="lead text-center">
        I am not strict to the Digital Interaction world, I also value personal interactions. For example, I kike to prepare a dinner for my friends, set up a great Christmas experience for my little son and many others.
      </p>
    </div>
  </div>
</div>
