<div class="rq-header" id="content">
	<div class="container">
		<h1>Biografia</h1>
		<p>Um pouco da minha história e como é meu trabalho atualmente.</p>
	</div>
</div>
<div class="container">
<h2>Bio</h2>
<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
</div>
</div>