<h3>portal web</h3>
<h4>[coordenação da equipe de design]</h4>
<p>O redesign do portal de conteúdo esportivo do <a href="http://www.gruporbs.com.br">Grupo RBS</a> foi o meu maior e mais importante projeto enquanto coordenador da equipe de design na Unidade de Novos Negócios do Grupo.</p>
<p>Durante a gestão do time, tive a oportunidade de montar e estruturar o mesmo em 3 núcleos: design de interação, design gráfico e front-end (html e css). Durante o projeto, estruturamos o fluxo de trabalho com o uso destas especialidades e o resultado foi um conteúdo bem organizado, um layout simples e um html bom para os mecanismos de busca, além de grandes melhorias na acessibilidade.</p>
<p>Outro motivo de orgulho, foi a criação do logotipo do clicEsportes. E nesse caso, foi legal aplicar o uso de proporção áurea e utilizar técnicas de apresentação um pouco mais elaboradas para vender as ideias internamente.</p>
<div class="imagem">
  <img src="images/brands-002-001.jpg" alt="marca clic esportes" />
  <img src="images/brands-002-002.jpg" alt="marca clic esportes" />
  <img src="images/brands-002-003.jpg" alt="linhas de construção da marca do clic esportes" />
  <img src="images/brands-002-004.jpg" alt="marca clic esportes" />
  <img src="images/brands-002-005.jpg" alt="marca clic esportes" />
</div>
