<h3>portal web</h3>

<h4>[coordenação da equipe de design]</h4>

<p>O desafio era, com uma equipe nova e um fluxo de trabalho reestruturado, redesenhar a home do principal portal do <a href="http://www.gruporbs.com.br">Grupo RBS</a>.</p>

<p>Eu acredito que vale citar esse trabalho pela utilização de testes de usabilidade, algo ainda inédito no desenvolvimento dos produtos digitais do Grupo.</p>

<p>E outro fato legal é que o teste foi feito com a mão na massa mesmo. Montamos os protótipos, elaboramos as tarefas, ajudamos nos perfis e apresentamos os resultados apurados. Mostramos para a empresa a diferença entre um teste de usabilidade e um focus group e conseguimos, a partir desse ponto, estabelecer um novo nível de exigência interna para os produtos digitais.</p>