<h3>facebook na tv</h3>
<h4>[design de interação + design gráfico]</h4>
<p>Aplicativo para acesso do facebook pela TV.</p>
<div class="imagem">
  <%= image_tag "facebook-feed.jpg", alt: "interface app facebook gvt tv" %>
  <%= image_tag "facebook-albuns.jpg", alt: "interface app facebook gvt tv" %>
  <%= image_tag "facebook-foto-full.jpg", alt: "interface app facebook gvt tv" %>
</div>
