<footer class="footer">
	<div class="container">
		<p>Copyright Rodrigo Quaresma. All rights reserved. Proudly made in Florianópolis.</p>
		<p>Thank you to <a href="http://twitter.com/mdo">Mark Otto</a> and <a href="http://twitter.com/fat">Jacob Thornton</a> by the wonderful <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
	</div>
</footer>