<h3>guia de tv (tablet)</h3>
<h4>[design de interação + design gráfico]</h4>
<p>Guia de programação dos canais em versão para tablet.</p>
<div class="imagem">
  <img src="images/guia-de-tv-tablet-a.jpg" alt="interface guia de tv para tablet" />
  <img src="images/guia-de-tv-tablet-b.jpg" alt="interface guia de tv para tablet" />
</div>
