<div class="container">
<div class="row">
	<div class="col-md-4">
		<div class="box-hight-light">
			<h3>Trabalhos</h3>
			<p>O Congresso AgriMoney é um evento itinerante que vai levar ao produtor rural os mecanismos de formação de preço e debater as novas estratégias de comercialização do agronegócio.</p>
			<p><%= link_to "Confira", site_jobs_path, :class => "btn btn-primary" %></p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box-hight-light">
			<h3>Projetos</h3>
			<p>Confira a programação completa para os 2 dias do Congresso AgriMoney.</p>
			<p><%= link_to "Confira", site_projects_path, :class => "btn btn-primary" %></p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="box-hight-light">
			<h3>Bio</h3>
			<p>Confira a programação completa para os 2 dias do Congresso AgriMoney.</p>
			<p><%= link_to "Confira", site_bio_path, :class => "btn btn-primary" %></p>
		</div>
	</div>
</div>
</div>