<h3>instagram na tv</h3>
<h4>[design de interação + design gráfico]</h4>
<p>Aplicativo para acesso do instagram pela TV.</p>
<div class="imagem">
  <img src="images/instagvt-b.jpg" alt="interface app instagram gvt tv" />
  <img src="images/instagvt-a.jpg" alt="interface app instagram gvt tv" />
  <img src="images/instagvt-c.jpg" alt="interface app instagram gvt tv" />
</div>
