<h3>menu de apps</h3>
<h4>[design de interação + design gráfico]</h4>
<p>Menu de aplicações para a TV.</p>
<div class="imagem">
  <%= image_tag "menu-de-apps-a.jpg", alt: "interface Menu de aplicações para a TV - gvt tv" %>
  <%= image_tag "menu-de-apps-b.jpg", alt: "interface Menu de aplicações para a TV - gvt tv" %>
</div>
