<div class="rq-header" id="content">
	<div class="container">
		<h1>Projetos</h1>
		<p>Projetos pessoais. Alguns realizados, outros nem tanto.</p>
	</div>
</div>
<div class="container">
<h2>Projetos</h2>
<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
</div>
</div>