<div class="main <%= @visu %>">
  <div id="content">
    <div class="topbar">
      <h2><%= @area %></h2>
    </div>
    <%= render partial: "#{@area}" %>
  </div>
  <%= render partial: "menu" %>
</div>
