<h3>branding</h3>

<h4>[design gráfico]</h4>

<p>Foi meu primeiro projeto de identidade visual no qual o uso do manual de marca era algo realmente sério.</p>

<p>As decisões estabelecidas no manual seriam utilizadas dentro de uma empresa de refinamento de petróleo. É um lugar de alto risco. Áreas bem demarcadas e sinalizadas são itens de segurança e erros podem gerar danos para os trabalhadores e ao meio ambiente.</p>

<p>E além disso, é muito legal ver o seu trabalho espalhado em tanques gigantescos, caminhões, placas, outdoors e por ae vai!</p>

<div class="imagem">

<img src="images/brands-001-001.jpg" alt="marca refap" />

<img src="images/brands-001-002.jpg" alt="linhas de construção da marca refap" />

<img src="images/brands-001-003.jpg" alt="marca refap" />

<img src="images/brands-001-004.jpg" alt="marca refap" />

<img src="images/brands-001-005.jpg" alt="marca refap" />

</div>