@import "portfolio/color-schema-dark";

$brand-primary:          #998f5c;
$brand-secundary:        #85995c;

$gray-base:              #333029;
$btn-default-color:              $link-color;

// nabar default
$navbar-default-bg:                $body-bg;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten($brand-primary, 15%);
$navbar-inverse-bg:                         $brand-primary;
$navbar-inverse-border:                     $brand-primary;

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($brand-primary, 50%);

$nav-tabs-active-link-hover-bg:             white;

$panel-bg:                    #d7d4cc;
$panel-footer-bg:             transparent;
$panel-body-padding:          10px;
$panel-heading-padding:       10px;
$panel-border-radius:         6px;

$panel-default-text:          #5f6162;
$panel-default-border:        transparent;
$panel-default-heading-bg:    transparent;


// extra
// $panel-body-border-radius:    8px;

$btn-secundary-color:            #fff;
$btn-secundary-bg:               $brand-secundary;
$btn-secundary-border:           darken($btn-secundary-bg, 5%);

@import 'bootstrap/variables';
