<footer id="footer">
	<ul class="list-inline text-center">
	  <li>&copy; Oxys Interaction Design Consultancy 2014</li>
		<li>路</li>
		<li><a title="Facebook Oxys Interaction Design" href="http://www.facebook.com/OxysDesign" rel="publisher">Facebook OxysDesign</a></li>
		<li>路</li>
		<li><a title="Twitter Oxys Interaction Design" href="http://twitter.com/oxysdesign" rel="publisher">Twitter @OxysDesign</a></li>
		<li>路</li>
		<li><a title="Google Plus Oxys Interaction Design" href="http://plus.google.com/+OxysCo" rel="publisher">Google+ OxysCo</a></li>
		<li>路</li>
		<li><a title="Linkedin Oxys Interaction Design" href="http://linkedin.com/company/3643408" rel="publisher">Linkedin Oxys Design</a></li>
	</ul>
</footer>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "modernizr-2.6.2-respond-1.1.0.min" %>
