@import "_variables";

@mixin box_shadow {
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	        box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}
@mixin box_corner {
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}

body {
	padding-top:50px;
}

.rq-header {
	background-color: $navbar-inverse-bg;
	padding:30px 15px 40px;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
	color:$navbar-inverse-link-active-color;
	h1 {
		font-size:60px;
		line-height:1em;
	}
	p {
		font-weight: 300;
		line-height: 1.5;
	}
}


div.box-hight-light {
	background-color:#fff;
	@include box_shadow;
	padding-top:3px;
	padding-bottom:22px;
	padding-left:25px;
	padding-right:25px;
	margin-bottom:30px;
	address {
		margin-top: 18px;
		margin-bottom:11px;
	}
}

footer {
	.container {
		margin-top:20px;
		margin-bottom:20px;
	}
}
