// Core variables and mixins
@import "components/variables";
@import "bootstrap/mixins";

@import "elastislide";


h1, h2, h3, h4, h5, h6 {
  color: $brand-primary;
}
.spacer-md {
  margin-top: 10px;
  margin-bottom: 10px;
}
.spacer-sm {
  margin-top: 5px;
  margin-bottom: 5px;
}
.spacer-xs {
  margin-top: 3px;
  margin-bottom: 2px;
}
.row-nogutter,
.form-horizontal .form-group.row-nogutter {
  margin-right: 0;
  margin-left: 0;
  > [class^='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
.row-gutter-xs,
.form-horizontal .form-group.row-gutter-xs {
  margin-right: -5px;
  margin-left: -5px;
  > [class^='col-'] {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.row-gutter-sm,
.form-horizontal .form-group.row-gutter-sm {
  margin-right: -10px;
  margin-left: -10px;
  > [class^='col-'] {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.navbar { border-width: 0; }

.logo-pre {
  font-weight: 200;
  color: #f2f2f2;
  font-size: 25px;
}
.logo-booking {
  font-weight: 500;
  color: #fff;
  font-size: 25px;
}
.logo-pontocom {
  font-weight: 500;
  color: #009FE2;
  font-size: 25px;
}

.jumbotron {
  background-image:image-url('vangogh/bg.jpg');;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  min-width: 100%;
  display: block;
  margin:0;
  &.campeche {
    background-image:image-url('vangogh/bg-campeche.jpeg');;
  }
}

.masthead-searchbox-container {
  border-radius: 3px;
  background: #ffbb39;
  background: linear-gradient(top,#ffca56 0,#ffbb39 100%);
  border: 1px solid #daa300;
  padding: 0 20px 20px;
  margin: 30px 0;
  color:#003580;
}

.head-title {
  margin-top:26px;
}

.main-results-filter {
  padding:10px 0;
}
.main-results-list {
  background:#eef1f8;
}


.dsf_fb_title {
padding: 20px 0 0;
margin: auto;
text-align: center;
position: relative;
}
.dsf_fb_title p {
background: #e0e6ec;
color: #003580;
padding: 10px;
border-radius: 4px;
font-size: 18px;
margin: 0;
}
.dsf_fb_title_arrow {
border: solid transparent;
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: rgba(214,225,239,0);
border-top-color: #e0e6ec;
border-width: 10px;
left: 50%;
margin-left: -6px;
}

.work-list {
  .work-list-item {
    margin-bottom: 20px;
    .work-call {
      display: block;
      position: relative;
      border: 1px solid transparent;
      .work-list-title {
        margin:0;
        position:absolute;
        background: rgba(0,0,0,0.7);
        top:0;
        color: lighten($brand-secundary, 50.0%);
        display:block;
        padding:10px 15px;
        width:100%;
        font-weight:400;
      }
      .work-list-image {
        img {width:100%}
      }
      &:hover {
        border-color:#feba02;
        .work-list-title { color: #feba02; }
      }
    }
  }
}

.work-list-caption {font-size:$font-size-large;}
.work-highlight {
  background:#fff;
  margin: 20px 0;
  img {width:100%}
  .work-highlight-group {
    padding: 20px 0 10px;
    h3 {
      margin-top:0;
      small {display:block;}
    }
  }
}

.main-results-list {
  .work-list-caption { display: none; }
  .work-highlight-group {
    padding-left: 20px;
    padding-right: 20px;
    h3 {margin-top:20px;}
    p {font-size:16px;}
    a:hover {color:#feba02;}
  }
}



.nav-avatar {
  height: 24px;
  margin-top: -3px;
  margin-bottom: -3px;
  margin-left: 6px;
}

.profile-avatar {
  display: block;
  margin: 30px auto;
  background: white;
  border-radius: 50%;
  border: #2999ce 6px solid;
}


.navbar-inverse .navbar-nav > li > a {
  border-left: 1px solid #124690;
}

#footer {
  padding: 40px 0;
  ul {margin-bottom:0;}
}


.jumbotron.profile {
  .mask {
    background: rgba(0,0,0,0.30);
  }
  .profile-avatar {
    margin:30px auto 20px;
  }
  h3 {
    color: #fff;
    text-align: center;
    margin:0 0 20px;
    font-weight: 200;
    font-size:2em;
  }
  h3 + p {
    margin:0 0 40px;
  }
}


.image-preview {
  margin: 0 0 10px 0;
  border-radius: 0;
  padding:0;
  background: transparent;
  border:1px solid #ddd;
  img {
    width:100%;
    border-radius: 0;
    border:none;
  }
}

//skills
.hp-section {
  background-color: #f2f5f9;
  padding: 0 10px;
  margin: 0 0 20px 0;
  border-top: 1px solid #d9e1ec;
  border-bottom: 1px solid #d9e1ec;
  font-weight: normal;
  overflow: hidden;
  > li {
    padding: 10px 0 !important;
    border: 1px solid #d9e1ec !important;
    border-width: 0 0 1px 0 !important;
    background: none !important;
    border-radius:0 !important;
    &:last-child {border-bottom:0 !important;}
    span {
      color: #779bca !important;
    }
  }
}

// lista de redes de contato
dl.list-group-contact {
  dt { }
  dd { margin-bottom:5px; }
}

// media querys
@media (min-width: $screen-sm-min) {
  .work-highlight .work-highlight-group {
    padding: 0 0 10px 20px;
  }
}
@media (min-width: $screen-md-min) {
}
@media (min-width: $screen-lg-min) {
}
