// Core variables and mixins
@import "components/variables";
@import "bootstrap/mixins";


.logo-pre {
  font-weight: 200;
  color: #f2f2f2;
  font-size: 25px;
}
.logo-booking {
  font-weight: 500;
  color: #fff;
  font-size: 25px;
}
.logo-pontocom {
  font-weight: 500;
  color: #009FE2;
  font-size: 25px;
}

.jumbotron {
  background-image:image-url('vangogh/bg.jpg');;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  min-width: 100%;
  display: block;
  margin:0;
}

.masthead-searchbox-container {
  border-radius: 3px;
  background: #ffbb39;
  background: linear-gradient(top,#ffca56 0,#ffbb39 100%);
  border: 1px solid #daa300;
  padding: 0 20px 20px;
  margin: 40px 0;
  color:#003580;
}

.main-results-filter {
  padding:10px 0;
}
.main-results-list {
  background:#eef1f8;
}



.dsf_fb_title {
padding: 20px 0 0;
margin: auto;
text-align: center;
position: relative;
}
.dsf_fb_title p {
background: #e0e6ec;
color: #003580;
padding: 10px;
border-radius: 4px;
font-size: 18px;
margin: 0;
}
.dsf_fb_title_arrow {
border: solid transparent;
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: rgba(214,225,239,0);
border-top-color: #e0e6ec;
border-width: 10px;
left: 50%;
margin-left: -6px;
}

.work-list {
  .work-list-item {
    .work-call {
      display: block;
      position: relative;
      .work-list-title {
        margin:0;
        position:absolute;
        background: rgba(0,0,0,0.2);
        top:0;
        color:#f5f5f5;
        display:block;
        padding:10px;
        width:100%;
        font-weight:200;
      }
      .work-list-image {
        img {width:100%}
      }
      .work-list-label {

      }
      .work-list-link {

      }
    }
  }
}

.highlight-work {
  background:#fff;
  margin: 20px 0;
  img {width:100%}
}

.nav-avatar {
  height: 24px;
  margin-top: -3px;
  margin-bottom: -3px;
  margin-left: 6px;
}

.profile-avatar {
  display: block;
  margin: 40px auto;
  background: white;
  border-radius: 50%;
  border: #2999ce 6px solid;
}


.navbar-inverse .navbar-nav > li > a {
  border-left: 1px solid #124690;
}

#footer {
  padding: 40px 0;
  ul {margin-bottom:0;}
}

.typeahead { z-index: 1051;}

.jumbotron.profile {
  .mask {
    background: rgba(0,0,0,0.30);
  }
  .profile-avatar {
    margin:40px auto 20px;
  }
  h3 {
    color: #fff;
    text-align: center;
    margin:0 0 20px;
    font-weight: 200;
    font-size:2em;
  }
  h3 + p {
    margin:0 0 40px;
  }
}
