<table border="0" cellpadding="0" cellspacing="0" width="600">
	<tr>
		<td valign="top" width="480" style="padding:40px 60px; border-collapse: collapse;">
			
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td valign="top" width="100%" style="border-collapse: collapse;">
						
						<div style="color: #363636;font-family: Helvetica, Arial, sans-serif;font-size: 18px;line-height: 160%;text-align: left;">
							<p>Olá Bruno,</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mauris magna, dignissim in blandit ac, pretium vitae lacus. Nunc interdum nibh nec eros sodales gravida. Integer cursus arcu ac libero varius aliquam. Vestibulum augue risus, fringilla ac luctus in, hendrerit sed est. Donec hendrerit neque vitae sapien ornare non semper nisi tempor. Aliquam volutpat condimentum varius. In suscipit fringilla nulla vitae ultrices. Cras eget turpis eget odio hendrerit ullamcorper.</p>
							<p>Um abraço,</p>
							<p><%= company %></p>
						</div>
						
					</td>
				</tr>
			
			</table>
		</td>
	</tr>
</table>