<tr>
	<td width="600" bgcolor="#ffffff">
		<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" >
			<tr>
				<td>
					<img src="/img-emails/600x110.jpg" alt="<%= company %>" height="110" width="600">
				</td>
			</tr>
			<tr>
				<td style="padding:0 40px 0 40px;">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="padding:0 20px">
								<div style="color: #363636;font-family: Helvetica, Arial, sans-serif;font-size: 18px;line-height: 160%;text-align: left;">
									<h1 style="line-height: 120%; color: #363636; display: block; font-family: Helvetica, Arial, sans-serif; font-size: 48px; font-weight: normal; letter-spacing: -1px; margin-top: 40px; margin-right: 0; margin-bottom: 20px; margin-left: 0; text-align: left;">
										Olá Júlia,
									</h1>
									<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit quam ut augue facilisis ut vulputate est viverra. Vestibulum sapien enim, hendrerit id amet.
									</p>
								</div>
							</td>
						</tr>
						<tr><td><div style="display:block; margin:20px 0 40px 0;border-top:#d5d5d5 dotted 2px;"></div></td></tr>
						<tr>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td valign="top" style="padding:0 20px 20px;">
											<img src="/img-emails/145x110.jpg" alt=" " />
										</td>
										<td valign="top" style="padding:0 20px">
											<div style="color: #363636;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;text-align: left;">
												<h2 style="line-height: 120%; color: #363636; display: block; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: normal; letter-spacing: -1px; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0; text-align: left;">
													Consectetur adipiscing elit
												</h2>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit quam ut augue facilisis ut vulpu- tate est viverra. Vestibulum sapien enim. <a href="#" style="color:#17488A;text-decoration:underline;">Read More</a></p>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td><div style="display:block; margin:20px 0 40px 0;border-top:#d5d5d5 dotted 2px;"></div></td></tr>
						<tr>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td valign="top" style="padding:0 20px">
											<div style="color: #363636;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;text-align: left;">
												<h2 style="line-height: 120%; color: #363636; display: block; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: normal; letter-spacing: -1px; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0; text-align: left;">
													Consectetur adipiscing elit
												</h2>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit quam ut augue facilisis ut vulpu- tate est viverra. Vestibulum sapien enim. <a href="#" style="color:#17488A;text-decoration:underline;">Read More</a></p>
											</div>
										</td>
										<td valign="top" style="padding:0 20px 20px;">
											<img src="/img-emails/145x110.jpg" alt=" " />
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td><div style="display:block; margin:20px 0 40px 0;border-top:#d5d5d5 dotted 2px;"></div></td></tr>
						<tr>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td valign="top" style="padding:0 20px 20px;">
											<img src="/img-emails/145x110.jpg" alt=" " />
										</td>
										<td valign="top" style="padding:0 20px">
											<div style="color: #363636;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;text-align: left;">
												<h2 style="line-height: 120%; color: #363636; display: block; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: normal; letter-spacing: -1px; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0; text-align: left;">
													Consectetur adipiscing elit
												</h2>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit quam ut augue facilisis ut vulpu- tate est viverra. Vestibulum sapien enim. <a href="#" style="color:#17488A;text-decoration:underline;">Read More</a></p>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td><div style="display:block; margin:20px 0 40px 0;border-top:#d5d5d5 dotted 2px;"></div></td></tr>
						<tr>
							<td>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td valign="top" style="padding:0 20px">
											<div style="color: #363636;font-family: Helvetica, Arial, sans-serif;font-size: 16px;line-height: 160%;text-align: left;">
												<h2 style="line-height: 120%; color: #363636; display: block; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: normal; letter-spacing: -1px; margin-top: 0; margin-right: 0; margin-bottom: 10px; margin-left: 0; text-align: left;">
													Consectetur adipiscing elit
												</h2>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit quam ut augue facilisis ut vulpu- tate est viverra. Vestibulum sapien enim. <a href="#" style="color:#17488A;text-decoration:underline;">Read More</a></p>
											</div>
										</td>
										<td valign="top" style="padding:0 20px 20px;">
											<img src="/img-emails/145x110.jpg" alt=" " />
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td><div style="display:block; margin:40px 0 40px 0;"></div></td></tr>
					</table>
				</td>
			</tr>
			<tr>
				<td valign="top" style="background-color:#d5d5d5;">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<div style="text-align: center;padding:30px 0 30px 0;">
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/facebook.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/twitter.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/pinterest.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/tumblr.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/google-plus.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/linkedin.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/youtube.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/vimeo.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/flickr.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/picasa.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/rss.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/wordpress.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:initial;">
									<img src="/img-emails/e-mail.gif" width="32" height="32" alt=" " border="0" />
								</a>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>