<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td align="center" style="margin: 0;">
			<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color: #6f6f6f;">
				<tr>
					<td height="6"><img src="//rdstation-static.s3.amazonaws.com/images/email_mkt/mobile_app/top.jpg" width="600" height="60" border="0"></td>
				</tr>
				<tr style="background-color:#ffffff;">
					<td bgcolor="#FFFFFF" style="background-color:#ffffff;">
						<h1 style="line-height: 120%; color: #626262; display: block; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: normal; letter-spacing: -1px; margin:20px 0 30px 0; text-align: center;">
							Feito para você!
						</h1>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF" style="background-color:#ffffff; padding:0px 50px 20px 50px; line-height:160%;">
						<div style="color:#626262; font-size:18px; font-weight:200;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
						<p>Bem vindo ao nosso aplicativo!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum accumsan nisi eget magna porttitor viverra. Donec bibendum nisl vel arcu molestie tincidunt. Morbi eget porttitor eros. Nullam rhoncus ullamcorper neque in molestie. Etiam adipiscing urna ac ligula iaculis sollicitudin.</p>
						</div>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF" style="background-color:#ffffff;padding-bottom: 20px;">
						<p style="line-height: 120%; color: #626262; display: block; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; font-weight: normal; letter-spacing: -1px; margin-top: 20px; margin-right: 0; margin-bottom: 10px; margin-left: 0; text-align: center;">
							Escolha sua plataforma e baixe agora:
						</p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF" style="padding:20px 75px 40px 75px;">
						<table width="450" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
							<tr>
								<td valign="top" width="100" align="center">
									<a href=""><img src="/img-emails/iphone.jpg" alt="click here" border="0"></a>
								</td>
								<td valign="top" width="075" align="center"></td>
								<td valign="top" width="100" align="center">
									<a href=""><img src="/img-emails/android.jpg" alt="click here" border="0"></a>
								</td>
								<td valign="top" width="075" align="center"></td>
								<td valign="top" width="100" align="center">
									<a href=""><img src="/img-emails/blackberry.jpg" alt="click here" border="0"></a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#" style="text-decoration:none;text-align:center;border-radius:4px; padding:10px 0 12px 0;display:block;font-height:32px;background-color:#626262;font-size:16px;color:#f2f2f2;font-weight:bold;">baixar</a>
								</td>
								<td></td>
								<td>
									<a href="#" style="text-decoration:none;text-align:center;border-radius:4px; padding:10px 0 12px 0;display:block;font-height:32px;background-color:#626262;font-size:16px;color:#f2f2f2;font-weight:bold;">baixar</a>
								</td>
								<td></td>
								<td>
									<a href="#" style="text-decoration:none;text-align:center;border-radius:4px; padding:10px 0 12px 0;display:block;font-height:32px;background-color:#626262;font-size:16px;color:#f2f2f2;font-weight:bold;">baixar</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td style="padding: 30px 0 0 0;">
								<div style="text-align: center;padding:0 0 30px 0;">
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/facebook.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/twitter.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/pinterest.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/tumblr.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/google-plus.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/linkedin.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/youtube.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/vimeo.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/flickr.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/picasa.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/rss.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/wordpress.gif" width="32" height="32" alt=" " border="0" />
								</a>
								<a href="#" style="text-decoration:none;">
									<img src="/img-emails/e-mail.gif" width="32" height="32" alt=" " border="0" />
								</a>
								</div>
							</td>
						</tr>
					</table>

					</td>
				</tr>
				
				<tr>
					<td bgcolor="#E3EEFA" height="6">
						<img src="//rdstation-static.s3.amazonaws.com/images/email_mkt/mobile_app/bottom.jpg" width="600" height="80" border="0">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
