<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td align="center" style="margin: 0;">
      
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-weight:200;font-size:14px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333;">
        
        <tr><td colspan="3" height="5"></td></tr>
        <tr>
          <td width="5" height="30"></td>
          <td width="590" height="30" bgcolor="#eeeeee"></td>
          <td width="5" height="30"></td>
        </tr>
        
        <tr>
          <td colspan="3" bgcolor="#222222">
            <table cellpadding="0" cellspacing="0" border="0" align="left" style="line-height:20px;">
              <tr>    			    
                <td width="100%" height="80" align="left" bgcolor="#222222">
                  <a href="" style="font-family:Georgia,serif;display:block; padding:0 30px;font-weight:normal;color:#f2f2f2;font-size:32px; text-decoration:none;text-transform:uppercase;text-align:left;letter-spacing: -2px;"><%= company %></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td width="5" height="30"></td>
          <td bgcolor="#eeeeee" style="padding:30px;font-weight:200;line-height: 120%;">
            <p>Olá Paulo,</p>
            <p>Vivamus ac tellus nisi, nec convallis diam. Cras semper gravida vulputate. Phasellus fermentum quam non nisi suscipit pulvinar eu sed.</p>
            <p>Obrigado,</p>
            <p><%= company %></p>
          </td>
          <td width="5" height="30"></td>
        </tr>
        <tr>
          <td width="5" height="30"></td>
          <td align="center" style="padding:30px 140px;">
            <a href="#" style="border:1px solid #626262; text-decoration:none;text-align:center;border-radius:4px; padding:10px 0 12px 0;display:block;font-height:32px;background-color:#bf1313;font-size:18px;color:#f2f2f2;font-weight:bold;">receber material</a>
          </td>
          <td width="5" height="30"></td>
        </tr>
        <tr>
          <td width="5" height="30"></td>
          <td bgcolor="#eeeeee" style="padding:20px;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
              <tr>
                <td align="left">
                  <div style="text-align: center;padding:10px 0 10px 0;">
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/facebook.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/twitter.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/pinterest.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/tumblr.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/google-plus.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/linkedin.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/youtube.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/vimeo.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/flickr.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/picasa.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/rss.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/wordpress.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/e-mail.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                  </div>
                </td>
              </tr>
            </table>
          </td>
          <td width="5" height="30"></td>
        </tr>
        <tr><td colspan="3" height="5"></td></tr>
      </table>
    </td>
  </tr>
</table>