<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td align="center" bgcolor="#d6d6d6" style="margin: 0;">
					<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color: #6f6f6f;">
						<tr>
							<td height="6">
								<img src="//rdstation-static.s3.amazonaws.com/images/email_mkt/video/ribbon.jpg" alt="ribbon" width="600" height="6" border="0" />
							</td>
						</tr>
						<tr>
							<td style="border-bottom: 2px dotted #bfbfbf; background: #f9f9f9;" bgcolor="#f7f7f7" align="center">
								<h1 style="display:block;padding:30px 0;color: #1a1a1a; font: normal 34px Georgia, serif; margin: 0; line-height: 33px;">Convallis tellus</h1>
							</td>
						</tr>
						<tr>
							<td bgcolor="f7f7f7" align="center">
								<h2 style="display:block;padding:10px;font-weight:200; color: #434343;">Morbi sit amet tincidunt lacus. Praesent.</h2>
							</td>
						</tr>
						<tr>
							<td width="600" bgcolor="f7f7f7" style="padding-left:40px; padding-right:40px;">
								<a href=""><img src="/img-emails/video.jpg" alt="Video" width="520" height="294" border="0" /></a>
								<p style="font-size: 14px; color: #646464; line-height: 20px;">Integer sollicitudin vulputate nibh quis gravida. Curabitur a diam purus, eu tempus est. Ut in nulla vel tellus dictum facilisis. Fusce blandit convallis tellus, et adipiscing nunc volutpat sed. </p>
							</td>
						</tr>
						<tr><td height="20" bgcolor="f7f7f7"></td></tr>
						<tr>
							<td bgcolor="#f7f7f7" style="padding: 20px 0; border-top: 2px dotted #bfbfbf; background: #f7f7f7;">
								<div style="text-align: center;padding:10px 0 10px 0;">
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/facebook.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/twitter.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/pinterest.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/tumblr.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/google-plus.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/linkedin.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/youtube.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/vimeo.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/flickr.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/picasa.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/rss.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/wordpress.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                    <a href="#" style="text-decoration:none;">
                      <img src="/img-emails/e-mail.gif" width="32" height="32" alt=" " border="0" />
                    </a>
                  </div>
							</td>
						</tr>
						<tr>
							<td height="24">
								<img src="/img-emails/video-bottom.jpg" alt="bottom" width="600" height="24" border="0" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>