
  <!--<body style="margin: 0; padding: 0; background: #edede8;">-->
  	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		  <tr>
		  	<td align="center" bgcolor="#edede8" style="margin: 0;">
			    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-weight:200;font-size:16px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333;">
            <tr>
              <td>
			          <table cellpadding="0" cellspacing="0" border="0" width="600">
                	<tr>
                		<td width="20%" height="12" bgcolor="#bb211a"></td>
                		<td width="20%" height="12" bgcolor="#4d1d1b"></td>
                		<td width="20%" height="12" bgcolor="#f7e397"></td>
                		<td width="20%" height="12" bgcolor="#fcfae1"></td>
                		<td width="20%" height="12" bgcolor="#be8c45"></td>
                	</tr>
                </table>
              </td>
            </tr>
            <tr>
              <td bgcolor="#ffffff;" style="background-color:#ffffff;">
			          <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="line-height:140%;">
                  <tr>
                    <td width="60px"></td>	    
      			        <td align="center" bgcolor="#ffffff">
                      <h1 style="line-height: 160%; color: #363636; display: block; font-family: Helvetica, Arial, sans-serif; font-size: 48px; font-weight: normal; letter-spacing: -1px; text-align: left;">
                      Ativar sua conta
                      </h1>
      			        </td>
                    <td width="60px"></td>  
      			      </tr>
      			      <tr>
                    <td width="60px"></td>
                    <td width="480" style="border-bottom:1px solid #be8d45;"></td>
                    <td width="60px"></td> 
                  </tr>
      			      <tr>
      			        <td colspan="3" height="20" bgcolor="ffffff"></td>
      			      </tr>
      			      <tr>
                    <td width="60px"></td>
      			        <td>
      			          <p>Olá João,</p>
                      <p>
                        Você criou com sucesso uma conta no nosso serviço.
                        <br/>
                        Para ativá-la, clique a seguir para confirmar seu endereço de email.
                      </p>
                    </td>
                    <td width="60px"></td>
                  </tr>
                  <tr>
                    <td width="60px"></td>
                    <td style="padding:20px 0;">
                      <a href="#" style="text-decoration:none;text-align:center;border-radius:4px; padding:10px 40px 12px;display:inline-block;width:auto;font-height:32px;background-color:#bb211a;font-size:16px;color:#f2f2f2;font-weight:bold;">Confirmar</a>
                    </td>
                    <td width="60px"></td>
                  </tr>
                  <tr>
                    <td width="60px"></td>
                    <td style="padding:10px 0;">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum accumsan nisi eget magna porttitor viverra. Donec bibendum nisl vel arcu molestie tincidunt. Morbi eget porttitor eros. Nullam rhoncus ullamcorper neque in molestie. Etiam adipiscing urna ac ligula iaculis sollicitudin.</p>
                      <p>Obrigado,</p>
                      <p><%= company %></p>
                    </td>
                    <td width="60px"></td>
                  </tr>
                  <tr>
                    <td width="60px"></td>
                    <td>
                      <div style="text-align: left;padding:30px 0 60px;">
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/facebook.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/twitter.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/pinterest.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/tumblr.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/google-plus.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/linkedin.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/youtube.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/vimeo.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/flickr.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/picasa.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/rss.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/wordpress.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                        <a href="#" style="text-decoration:none;">
                          <img src="/img-emails/e-mail.gif" width="32" height="32" alt=" " border="0" />
                        </a>
                      </div>
                    </td>
                    <td width="60px"></td>
                  </tr>
			          </table>
              </td>
            </tr>
            <tr>
              <td>
			          <table cellpadding="0" cellspacing="0" border="0" width="600">
                	<tr>
                		<td width="20%" height="12" bgcolor="#be8c45"></td>
                		<td width="20%" height="12" bgcolor="#fcfae1"></td>
                		<td width="20%" height="12" bgcolor="#f7e397"></td>
                		<td width="20%" height="12" bgcolor="#4d1d1b"></td>
                  	<td width="20%" height="12" bgcolor="#bb211a"></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>