/*reset*/

h1,h2,h3,h4,h5,h6,
p,ul,ol,li,dl,dt,dd,
small, img
{
	margin:0;
	padding:0;
	list-style-position:outside;
}


body {
	border-top:#808080 solid 8px;
	background-color:#1a1a1a;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
}

div.main {
	position:relative;
	height:100%;
	background-repeat:repeat-x;
	background-position:0 0;
}
div.main.display {background-image:url(../icon/bg-body-display.gif);}
div.main.tv      {background-image:url(../icon/bg-menu-tv.gif);}
div.main.paper   {background-image:url(../icon/bg-menu-paper.gif);}
div.main.brands  {background-image:url(../icon/bg-menu-brands.gif);}


div#content {
	position:absolute;
	width:600px;
	left:360px;
	top:0px;
	padding:0 0 40px 0;
}
div#content div.topbar {
	background-repeat:repeat-y;
	height:80px;
	padding:12px 0 0 40px;
	overflow:hidden;
}
div#content div.topbar h2 {
	font-weight:normal;
	font-size:64px;
	color:#1a1a1a;
	text-indent:-5px;
	line-height:2.0;
	text-rendering:optimizeLegibility;
}


div#content div.menubar {
	float:left;
	padding:57px 0 20px 40px;
	clear:both;
}
div#content div.menubar ul.submenu {
	float:left;
	clear:both;
	display:block;
	width:560px;
	padding:0 0 20px 0;
}
div#content div.menubar ul.submenu li {
	display:block;
	float:left;
	width:240px;
	height:28px;
	padding:0 40px 0 0;
}
div#content div.menubar ul.submenu li a.item {
	display:block;
	float:left;
	font-size:26px;
	text-decoration:none;
	height:26px;
	text-indent:-3px;
	color:#1a1a1a;
	background-color:#666;
	line-height:1.5;
	overflow:hidden;
	background-position:-40px 0;
	text-rendering:optimizeLegibility;
}

/*display*/
div.main.display div#content div.topbar,
div.main.display div#content div.menubar ul.submenu li a.item:hover,
div.main.display div#content div.menubar ul.submenu li a.item.linkado {color:#1a1a1a;background-image:url(../icon/bg-bar-display.jpg);   background-color:#7f3e7e;}

/*tv*/
div.main.tv      div#content div.topbar,
div.main.tv      div#content div.menubar ul.submenu li a.item:hover,
div.main.tv      div#content div.menubar ul.submenu li a.item.linkado {color:#1a1a1a;background-image:url(../icon/bg-bar-tv.jpg);    background-color:#408141;}

/*paper*/
div.main.paper   div#content div.topbar,
div.main.paper   div#content div.menubar ul.submenu li a.item:hover,
div.main.paper   div#content div.menubar ul.submenu li a.item.linkado {color:#1a1a1a;background-image:url(../icon/bg-bar-paper.jpg); background-color:#826142;}

/*brands*/
div.main.brands  div#content div.topbar,
div.main.brands  div#content div.menubar ul.submenu li a.item:hover,
div.main.brands  div#content div.menubar ul.submenu li a.item.linkado {color:#1a1a1a;background-image:url(../icon/bg-bar-brands.jpg);background-color:#41607f;}



div#content div.imagem {
	float:left;
	padding:0 0 0 40px;
}
div#content div.imagem img {
	float:left;
	margin:0 40px 40px 0;
	border-bottom:2px solid #1a1a1a;
	border-top:1px solid #1a1a1a;
}


div#content h3 {
	color:#999;
	padding:0 40px 12px 40px;
	font-size:28px;
	text-rendering:optimizeLegibility;
}
div#content h4 {
	color:#999;
	padding:0 40px 20px 40px;
	font-size:18px;
	text-rendering:optimizeLegibility;
}

div#content p {
	float:left;
	clear:both;
	width:520px;
	padding:0 40px 12px 40px;
	margin:0;
	color:red !important;
	font-size:16px;
	line-height:1.6;
	text-rendering:optimizeLegibility;
}
div#content p a {
	color:#3366bb;
	background:url("../icon/external-link-ltr-icon.png") no-repeat scroll right center transparent;
	padding:0 13px 0 0;
}
div#content dl.notes {
	float:left;
	clear:both;
	width:520px;
	padding:32px 0 20px 0;
	margin:0 40px 40px 40px;
	border-bottom:2px solid #666;
	border-top:1px solid #666;
}


div#content dl.notes dt,
div#content dl.notes dd {
	color:#999;
	font-size:16px;
	line-height:1.6;
}
div#content dl.notes dt {
	width:180px;
	float:left;
	clear:left;
	display:block;
	text-align:right;
	color:#666;
	font-weight:bold;
}
div#content dl.notes dd {
	display:block;
	padding:0 0 16px 200px;
}


div#content dl.notes dt a,
div#content dl.notes dd a {
	color:#3366bb;
	background:url("../icon/external-link-ltr-icon.png") no-repeat scroll right center transparent;
	padding:0 13px 0 0;
}




div#content div.columns {
	float:left;
	clear:both;
	width:520px;
	padding:0 40px 32px 40px;
}
div#content div.columns div.full {
	float:left;
	clear:both;
	width:520px;
	padding:0;
}
div#content div.columns div.left,
div#content div.columns div.right {width:240px;}

div#content div.columns div.left  {float:left;}
div#content div.columns div.right {float:right;}

div#content div.columns div.left p,
div#content div.columns div.right p,
div#content div.columns div.full p
{
	color:#999;
	font-size:14px;
	line-height:1.6;
	padding:0 0 8px 0;
	text-rendering:optimizeLegibility;
}
div#content div.columns div.right p {color:#999;}

div#content div.columns div.left p a,
div#content div.columns div.right p a,
div#content div.columns div.full p a
{
	color:#3366bb;
	background:url("../icon/external-link-ltr-icon.png") no-repeat scroll right center transparent;
	padding:0 13px 0 0;

}
div#content div.columns div.left p.box,
div#content div.columns div.right p.box,
div#content div.columns div.full p.box
{
	color:#999;
	font-size:14px;
	line-height:1.6;
	padding:0 0 8px 0;
	margin:0 0 8px 0;
	margin:0 0 16px 0;
}
div#content div.columns div.left p.box strong,
div#content div.columns div.right p.box strong,
div#content div.columns div.full p.box strong
{
	color:#999;
}



div#menu {
	width:280px;
	padding:0 40px 0 40px;
	left:0px;
	top:0px;
	margin:0;
	background-repeat:repeat-x;
}
div.main.display div#menu {background-image:url(../icon/bg-menu-display.gif);}
div.main.tv      div#menu {background-image:url(../icon/bg-body-tv.gif);}
div.main.paper   div#menu {background-image:url(../icon/bg-body-paper.gif);}
div.main.brands  div#menu {background-image:url(../icon/bg-body-brands.gif);}

div#menu p.skills {
	font-size:24px;
	color:#666;
	padding:0 0 52px 0;
	text-transform:uppercase;
	font-weight:bold;
	// text-rendering:optimizeLegibility;
}
div.main.display div#menu p.skills {color:#404080;}
div.main.tv      div#menu p.skills {color:#808040;}
div.main.paper   div#menu p.skills {color:#7f3f60;}
div.main.brands  div#menu p.skills {color:#3f805e;}

div#menu h1 {
	font-size:32px;
	color:#1a1a1a;
	padding:14px 0 0 0;
	font-weight:normal;
	text-transform:uppercase;
	line-height:0.9;
	// text-rendering:optimizeLegibility;
}

div#menu ul.categorias {
	display:block;
	width:280px;
	padding:0 0 60px 0;
	float:left;
	clear:both;
}
div#menu ul.categorias li {
	display:block;
	float:left;
	height:40px;
	clear:both;
}
div#menu ul.categorias li a {
	display:block;
	float:left;
	height:38px;
	font-size:38px;
	text-decoration:none;
	overflow:hidden;
	text-indent:-3px;
	line-height:1.5;
	// text-rendering:optimizeLegibility;
}

div#menu ul.categorias li a.display,
div#menu ul.categorias li a.tv,
div#menu ul.categorias li a.paper,
div#menu ul.categorias li a.brands
{
	color:#1a1a1a;
	background-color:#666;
	background-position:-40px 0;
	clear:both;
	// text-rendering:optimizeLegibility;
}

div#menu ul.categorias li a.display.linkado,
div#menu ul.categorias li a.display:hover {background-color:#7f3e7e;background-image:url(../icon/bg-bar-display.jpg);}
div#menu ul.categorias li a.tv.linkado,
div#menu ul.categorias li a.tv:hover      {background-color:#408141;background-image:url(../icon/bg-bar-tv.jpg);}
div#menu ul.categorias li a.paper.linkado,
div#menu ul.categorias li a.paper:hover   {background-color:#826142;background-image:url(../icon/bg-bar-paper.jpg);}
div#menu ul.categorias li a.brands.linkado,
div#menu ul.categorias li a.brands:hover  {background-color:#41607f;background-image:url(../icon/bg-bar-brands.jpg);}



div#menu p.email,
div#menu p.local
{

}

div#menu p a img {
border:none;
}

div#menu dl.contact {
	float:left;
	clear:both;
	display:block;
	width:280px;
	padding:0 0 52px 0;
}
div#menu dl.contact dt,
div#menu dl.contact dd {
	float:left;
	display:block;
	clear:both;
	padding:0 0 12px 0;
}
div#menu dl.contact dt {
	padding:0 0 2px 0;
}

div#menu dl.contact dt {
	font-size:18px;
	color:#666;
	text-transform:lowercase;
}
div#menu dl.contact dd {
	font-size:14px;
	color:#666;
	text-transform:lowercase;
}
div#menu dl.contact dd a {
	color:#666;
}

div.main.display div#menu dl.contact dd a:hover {color:#7f3e7e;}
div.main.tv      div#menu dl.contact dd a:hover {color:#408141;}
div.main.paper   div#menu dl.contact dd a:hover {color:#826142;}
div.main.brands  div#menu dl.contact dd a:hover {color:#41607f;}
